@using SG2.CORE.MODAL.DTO.Customers;
@{
    var custDto = (CustomerDTO)ViewBag.CustomerDTO;
}
@{
    var _intercomPublishKey = SG2.CORE.WEB.Architecture.SystemConfig.GetConfigs.First(x => x.ConfigKey == "Intercom").ConfigValue;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Social Growth</title>

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <link href="~/Content/ThemeAssets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/ThemeAssets/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/Content/ThemeAssets/css/owl.theme.default.css" rel="stylesheet" type="text/css">
    <link href="~/Content/ThemeAssets/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/ThemeAssets/css/Home.css" rel="stylesheet" />
    @Styles.Render("~/Content/intercom.css")
    <link href="~/Content/ThemeAssets/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/ThemeAssets/css/responsive.css">
    <link rel="stylesheet" href="~/Content/ThemeAssets/css/hover.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    @*<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />*@
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    @RenderSection("styles", required: false)

    <style>
        .fa-user {
            border: 1px solid;
            padding: 2px 4px;
            border-radius: 15px;
            padding-bottom: 4px;
        }
    </style>

</head>

<body>

    <header class="header">
        <div class="container">
            <div class="row">

                @if (ViewBag.IsAuthentication != null)
                {
                    <div class="col-xs-12 col-md-2" id="">
                        <div class="logo">
                            <a href="/TargetPreferences/ModifyTargetPreferences?socialProfileId=@custDto.DefaultSocialProfileId">
                                <img src="~/Content/ThemeAssets/images/social-growth.png" alt="">
                            </a>
                            <div class="logOutOnMobile col-xs text-right">
                                <a href="/Account/Logout" class="btn_logout">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                                </a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-md-2" id="">
                        <div class="logo">
                            <a href="/">
                                <img src="~/Content/ThemeAssets/images/social-growth.png" alt="">
                            </a>
                            <div class="mobile-menu" id="i-mobilemenu" onclick="mymg()">
                                <img src="/Content/ThemeAssets/Images/mobile-icon.png" alt="">
                            </div>
                        </div>
                    </div>
                }
                <div class="col-xs-12 col-md-10 menu">
                    <div class="right-sec">
                        <ul class="nav navbar-nav">
                            @if (ViewBag.IsAuthentication == null)
                            {
                                <li>
                                    <a href="/home" class="active"><span class="sr-only">(current)</span>Home</a>
                                </li>

                                <li>
                                    <a href="#" class="lnk_ShowLoginModal">Login</a>
                                </li>
                                <li>
                                    <a href="#" class="lnk_ShowSignupModal">Sign up</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <div class="logOutOnDesktop">
                                        <a href="/Account/Logout" class="btn_logout">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                                        </a>
                                    </div>
                                </li>
                                @*<li>
                                        <a href="/TargetPreferences/ModifyTargetPreferences?socialProfileId=@custDto.DefaultSocialProfileId">
                                            Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/user/userprofile">
                                            @custDto.FirstName  @(custDto.SurName == null ? string.Empty : @custDto.SurName.Substring(0, 1))  &nbsp; <i class="fa fa-user" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Account/Logout" class="btn_logout">
                                            <i class="fa fa-power-off"></i>
                                        </a>
                                    </li>*@
                            }

                        </ul>

                        @*<a href="/" class="transiton">OC</a>*@
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    @Html.Partial("~/Views/Shared/Partial/_PartialLoginPopup.cshtml")

    @Html.Partial("~/Views/Shared/Partial/_PartialForgetPasswordPopup.cshtml")

    @Html.Partial("~/Views/Shared/Partial/_PartialSignupPopup.cshtml")

    @Html.Partial("~/Views/Shared/Partial/_PartialMessagePopup.cshtml")

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Content/ThemeAssets/js/jquery.min.js"></script>
    <script src="~/Content/ThemeAssets/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/ThemeAssets/js/owl.carousel.min.js"></script>
    <script src="~/Content/ThemeAssets/js/functions.js"></script>

    @*<script src="https://unpkg.com/aos@next/dist/aos.js"></script>*@

    <script type="text/javascript">
        var glb_intercomKey = '@_intercomPublishKey';
    </script>

    @Scripts.Render("~/Scripts/Intercom1.1.js")


    <script type="text/javascript">

        $(document).ready(function () {

            $('body').css('padding-right', '0');

            $("#Form_Login").validate({
                rules: {
                    EmailAddress: {
                        required: true,
                        email: true
                    },
                    Password: {
                        required: true,
                    }
                },
                messages: {
                    EmailAddress: {
                        required: "Email required"
                    },
                    Password: {
                        required: "Password required"
                    }
                }
            });

            $("#Form_ForgetPassword").validate({
                rules: {
                    EmailAddress: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    EmailAddress: {
                        required: "Email required."
                    }
                }
            });

            $("#Form_Signup").validate({
                rules: {
                    FirstName: {
                        required: true,
                    },
                    SurName: {
                        required: true,
                    },
                    EmailAddress: {
                        required: true,
                        email: true,
                        remote: {
                            type: "GET",
                            url: "/account/IsEmailExist?" + $("#Modal_SignupPopup input#SignEmailAddress").val(),
                        }
                    },
                    Password: {
                        required: true,
                    },
                    Re_Password: {
                        equalTo: "#SignupPassword"
                    }
                },
                messages: {
                    FirstName: {
                        required: "Firstname required."
                    },
                    SurName: {
                        required: "Lastname required."
                    },
                    EmailAddress: {
                        required: "Email required.",
                        remote: "Email already exists"
                    },
                    Password: {
                        required: "Password required."
                    },
                    Re_Password: {
                        equalTo: "Password not matched."
                    }
                }
            });

            $("a.lnk_ShowLoginModal").on("click", function (e) {
                $("#login-error").hide().html("");
                $("#forgetpassword-error").hide().html("");

                $("#Form_Login").validate().resetForm();

                $("#Form_ForgetPassword").validate().resetForm();
                $(".Modal-LoginStep").removeClass("hide");

                $(".Modal-ForgetPasswordStep").addClass("hide");

                $("#forgetPassowrdMessage").hide();
                $(".forgetPasswordFields").show();
                $("#Form_ForgetPassword").trigger("reset");
                $("#Form_Login").trigger("reset");

                $("#Modal_SignupPopup").modal("hide");
                $("#Modal_LoginPopup").modal("show");

                e.preventDefault();
                e.stopPropagation();
            });

            $("a.lnk_ShowFrogetPasswordModal").on("click", function (e) {
                $(".Modal-LoginStep").addClass("hide");
                $(".Modal-ForgetPasswordStep").removeClass("hide");

                e.preventDefault();
                e.stopPropagation();
            });

            $("a.lnk_ShowSignupModal").on("click", function (e) {
                $("h1.signup-success-message").addClass("hide");
                $("#Form_Signup").show();
                $("#Form_Signup").validate().resetForm();

                $("#Modal_LoginPopup").modal("hide");
                $("#Modal_SignupPopup").modal("show");
                e.preventDefault();
                e.stopPropagation();
            });

            $(".btn_formLogin").on("click", function (e) {
                $("#login-error").html("");
                if ($("#Form_Login").valid()) {
                    $("#LoginSpiner").show();
                    var frmData = $("#Form_Login").serialize();
                    $.ajax({
                        type: "POST",
                        url: "/account/Login",
                        data: frmData,
                        dataType: "json",
                        success: function (data) {
                            if (!$.isEmptyObject(data)) {
                                if (data.ResultType == "Success") {
                                    window.location = "/TargetPreferences/ModifyTargetPreferences?socialProfileId=" + data.ResultData;
                                } else {
                                    $("#LoginSpiner").hide();
                                    $("#login-error").show().html(data.message);
                                }
                            }
                        },
                        failure: function (errMsg) {
                            $("#LoginSpiner").hide();
                        }
                    });
                }

            });

            $(".btn_forgetPassword").on("click", function (e) {
                $("#forgetpassword-error").html("");
                if ($("#Form_ForgetPassword").valid()) {
                    $("#ForgotPassSpiner").show();
                    var data = $("#Form_ForgetPassword").serialize();
                    $.ajax({
                        type: "POST",
                        url: "/account/forgetpassword",
                        data: data,
                        dataType: "json",
                        success: function (data) {
                            $("#ForgotPassSpiner").hide();
                            if (!$.isEmptyObject(data)) {
                                $("#ForgotPassSpiner").hide();
                                if (data.ResultType == "Success") {
                                    $("#forgetPassowrdMessage").show();
                                    $(".forgetPasswordFields").hide();
                                } else {
                                    $("#forgetpassword-error").show().html(data.message);
                                }
                            }
                        },
                        failure: function (errMsg) {
                            $("#ForgotPassSpiner").hide();
                        }
                    });

                }

            });

            $(".btn_formSignup").on("click", function (e) {
                if ($("#Form_Signup").valid()) {
                    $("#SignUpSpinner").show();
                    var data = $("#Form_Signup").serialize();
                    $.ajax({
                        type: "POST",
                        url: "/account/SignUp",
                        data: data,
                        dataType: "json",
                        success: function (data) {
                            if (!$.isEmptyObject(data)) {
                                if (data.ResultType == "Success") {
                                    $("#SignUpSpinner").hide();
                                    $("#Modal_SignupPopup").modal("hide");
                                    $("#Modal_MessageBoxTitle").text("Account Created Succesfully.!");
                                    $("#Modal_MessageBoxBody").text("Congratulation! Your account has successfully created. Please check your inbox for verification.!");
                                    $("#Modal_Messagebox").modal("show");
                                } else {
                                    $("#signup-error").show().html(data.message);
                                    $("#SignUpSpinner").hide();
                                }
                            }
                        },
                        failure: function (errMsg) {
                            $("#SignUpSpinner").hide();
                        }
                    });
                    $("#SignUpSpinner").hide();
                }
            });

        });

    </script>


    @RenderSection("scripts", required: false)

    <!-- control mobile dropdown margin-->
    <script>
        function myFunction() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

    <script>
        function mymg() {
            var x = document.getElementById("headermg");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }

    </script>

    <script>

    </script>

</body>
</html>
