@using SG2.CORE.MODAL.DTO.Customers;
@using System.Security.Cryptography;
@using System.Text;
@{
    /**/
    
    var encoding = new ASCIIEncoding();
    
   

    var custDto = (CustomerDTO)ViewBag.CustomerDTO;

     var key = new HMACSHA256( encoding.GetBytes("ZEjdHxcIdtF_JSUgUyLxy1K0lx_qaiadqQ7gpl7S"));
     var hash =  key.ComputeHash(encoding.GetBytes(custDto.EmailAddress));

    var hmac = BitConverter.ToString(hash).Replace("-", "").ToLower();

}
@{
    var _intercomPublishKey = SG2.CORE.WEB.Architecture.SystemConfig.GetConfigs.First(x => x.ConfigKey == "Intercom").ConfigValue;
}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->
<head>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Stack admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>@ViewBag.Title - Social Growth</title>
    <link rel="apple-touch-icon" href="~/Content/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/charts/jquery-jvectormap-2.0.3.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/charts/morris.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/extensions/unslider.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/weather-icons/climacons.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/components.css">
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/core/menu/menu-types/horizontal-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/core/colors/palette-gradient.css">
    <!-- link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/pages/users.css')-->
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->

    <link href="~/Content/app-assets/css/styles.css" rel="stylesheet" />

    @RenderSection("styles", required: false)

    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', '//connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1185819604852319');
        fbq('init', '2899883190056318');
        fbq('init', '722023768308766');
        fbq('init', '433629843942100');
        fbq('track', 'PageView'); //tracks a PageView to both initialized pixels
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1185819604852319&ev=PageView&noscript=1" />
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2899883190056318&ev=PageView&noscript=1" />
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=722023768308766&ev=PageView&noscript=1" />
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=433629843942100&ev=PageView&noscript=1" />
    </noscript>


    <!-- END: Custom CSS-->
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->
<body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns  " data-open="click" data-menu="horizontal-menu" data-col="2-columns">
    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-static-top navbar-light navbar-border navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto">
                        @if (ViewBag.socialProfileId != null)
                        {

                            <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a>
                        }
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="~/user/home">
                            <img class="brand-logo" style="width:90px" alt="Social Growth Logo" src="~/Content/ThemeAssets/images/social-growth.png">

                        </a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container container center-layout" style="margin-top: 50px;">
                <div class="collapse navbar-collapse" id="navbar-mobile" style="height:33px;">
                    <ul class="nav navbar-nav mr-auto float-left">
                        @if (ViewBag.socialProfileId != null)
                        {

                            <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
                        }
                    </ul>
                    <ul class="nav navbar-nav float-right">

                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                <span class="avatar avatar-online">
                                    @*<img src="~/Content/app-assets/images/portrait/small/avatar-s-1.png" alt="avatar">*@
                                </span><i class="fa fa-user success"></i><span class="user-name">@custDto.FirstName</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="~/user/userprofile"><i class="ft-user"></i> Edit Profile</a>


                                <div class="dropdown-divider"></div><a class="dropdown-item" href="~/Account/Logout"><i class="ft-power"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->
    @RenderSection("profileheader", required: false)

    @if (ViewBag.socialProfileId != null)
    {
        <!-- BEGIN: Main Menu-->
        <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow menu-border" role="navigation" data-menu="menu-wrapper">
            <!-- Horizontal menu content-->
            <div class="navbar-container main-menu-content container center-layout" data-menu="menu-container">
                <!-- include ../../../includes/mixins-->
                <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">

                    <li class="nav-item">
                        <a class="nav-link" href="~/Profile/stats?socialProfileId=@ViewBag.socialProfileId"><i class="ft-monitor"></i><span>Stats</span></a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Profile/Basic?socialProfileId=@ViewBag.socialProfileId"><i class="ft-layout"></i><span>IG Account Info</span></a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link TargetingLink" href="~/Profile/target?socialProfileId=@ViewBag.socialProfileId"><i class="ft-zap"></i><span>Targeting</span></a>

                    </li>
                    <li class="mega-dropdown nav-item">
                        <a class="nav-link" href="~/Profile/lists?socialProfileId=@ViewBag.socialProfileId"><i class="ft-box"></i><span>White & Black Lists</span></a>

                    </li>
                    @*<li class="dropdown nav-item" data-menu="dropdown">
                            <a class="nav-link" href="~/Profile/followings?socialProfileId=@custDto.DefaultSocialProfileId"><i class="ft-droplet"></i><span>New Followings</span></a>

                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="~/Profile/history?socialProfileId=@ViewBag.socialProfileId"><i class="ft-briefcase"></i><span>Order History</span></a>

                    </li>


                </ul>
                <span class="navbar-text">
                    <a class="nav-link" href="~/user/home"><i class="ft-arrow-left"></i>Back to Home</a>
                </span>
            </div>
            <!-- /horizontal menu content-->
        </div>
        <!-- END: Main Menu-->
    }
    <!-- BEGIN: Content-->
    @RenderBody()
    <!-- END: Content-->
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-shadow">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2 container center-layout"><span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2019 <a class="text-bold-800 grey darken-2" href="https://wwww.socialgrowthlabs.com" target="_blank">Social Growth Labs Inc.</a></span></p>
    </footer>
    <!-- END: Footer-->
    <!-- BEGIN: Vendor JS-->
    <script src="~/Content/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/Content/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="~/Content/app-assets/vendors/js/charts/jquery.sparkline.min.js"></script>
    <script src="~/Content/app-assets/vendors/js/extensions/jquery.knob.min.js"></script>
    <script src="~/Content/app-assets/js/scripts/extensions/knob.js"></script>
    <script src="~/Content/app-assets/vendors/js/charts/raphael-min.js"></script>
    <script src="~/Content/app-assets/vendors/js/charts/morris.min.js"></script>
    <script src="~/Content/app-assets/vendors/js/charts/jvector/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="~/Content/app-assets/vendors/js/charts/jvector/jquery-jvectormap-world-mill.js"></script>
    <script src="~/Content/app-assets/data/jvector/visitor-data.js"></script>
    <script src="~/Content/app-assets/vendors/js/charts/chart.min.js"></script>
    <script src="~/Content/app-assets/vendors/js/charts/jquery.sparkline.min.js"></script>
    <script src="~/Content/app-assets/vendors/js/extensions/unslider-min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/core/colors/palette-climacon.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/fonts/simple-line-icons/style.min.css">

    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/Content/app-assets/js/core/app-menu.js"></script>
    <script src="~/Content/app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/Content/app-assets/js/scripts/ui/breadcrumbs-with-stats.js"></script>
    <script src="~/Content/app-assets/js/scripts/pages/dashboard-analytics.js"></script>
    @RenderSection("scripts", required: false)
    <!-- END: Page JS-->

    @{
        DateTime foo = custDto.CreatedOn.ToUniversalTime();
        long unixTime = ((DateTimeOffset)foo).ToUnixTimeSeconds();


    }

    <script>

        window.intercomSettings = {
            app_id: "xsl2s4e6",
            name: "@(custDto.FirstName + " " + custDto.SurName )", // Full name
            email: "@custDto.EmailAddress", // Email address,
            user_hash: "@hmac",
            created_at: "@unixTime" // Signup date as a Unix timestamp
        };
    </script>

    <script>(function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/xsl2s4e6'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();</script>
    <script src="//app.helphero.co/embed/ViJqUtC2mcl"></script>
    @if (ViewBag.socialProfileId != null)
    {
        <script>
         HelpHero.identify('@ViewBag.socialProfileId');
        </script>
    }
    else
    {
        <script>
         HelpHero.identify('@custDto.EmailAddress');
        </script>
    }
</body>
<!-- END: Body-->
</html>