@model SG2.CORE.MODAL.ViewModals.Customers.ResetUserPasswordViewModel
@{
    ViewBag.Title = "Profile";
    Layout = null;// "~/Views/Shared/_Layout_LoggedInStack.cshtml";
}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  
    <title>Reset Password</title>
    <link rel="apple-touch-icon" href="~/Content/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/forms/icheck/custom.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/components.css">
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/core/menu/menu-types/horizontal-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/pages/login-register.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
    <!-- END: Custom CSS-->
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->
<body class="horizontal-layout horizontal-menu horizontal-menu-padding 1-column  bg-full-screen-image blank-page blank-page" data-open="click" data-menu="horizontal-menu" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content container center-layout mt-2">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <img src="~/Content/ThemeAssets/images/social-growth.png" alt="branding logo">
                                    </div>

                                </div>
                                <div class="card-content">

                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1"><span>Reset Password</span></p>
                                    <div class="card-body">
                                        @using (Html.BeginForm("UpdateUserPassword", "Home", FormMethod.Post, new { @id = "Form_UpdatePassword", @class = "form-horizontal", novalidate = "novalidate" }))
                                        {
                                            @Html.HiddenFor(model => model.CustomerId)

                                            <fieldset class="form-group position-relative has-icon-left">

                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "New Password", required = "required" })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                <div class="form-control-position">
                                                    <i class="ft-key"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">

                                                @Html.PasswordFor(m => m.Confirm_Password, new { @class = "form-control", placeholder = "Confirm New Password", required = "required" })
                                                @Html.ValidationMessageFor(model => model.Confirm_Password, "", new { @class = "text-danger" })
                                                <div class="form-control-position">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                            </fieldset>

                                            <button type="submit" id="btn_ResetPassword" class="btn btn-primary btn-block"><i class="ft-unlock"></i> Reset Password</button>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="Modal_MessageBoxTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="Modal_MessageBoxTitle">Basic Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 id="Modal_MessageBoxBody"></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>


    <!-- END: Content-->
    <!-- BEGIN: Vendor JS-->
    <script src="~/Content/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/Content/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="~/Content/app-assets/vendors/js/charts/jquery.sparkline.min.js"></script>
    <script src="~/Content/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js"></script>
    <script src="~/Content/app-assets/vendors/js/forms/icheck/icheck.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/Content/app-assets/js/core/app-menu.js"></script>
    <script src="~/Content/app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/Content/app-assets/js/scripts/ui/breadcrumbs-with-stats.js"></script>
    <script src="~/Content/app-assets/js/scripts/forms/form-login-register.js"></script>
    <!-- END: Page JS-->




        <script type="text/javascript">
            $("document").ready(function () {

                $('#default').on('hidden.bs.modal', function (e) {
                    $(location).attr('href', "/Home");
                });

                $("#Form_UpdatePassword").on("submit", function () {
                    debugger;

                    //if ($("#Form_UpdatePassword").valid()) {

                        var data = $("#Form_UpdatePassword").serialize();
                        $.ajax({
                            type: "POST",
                            url: "/Home/UpdateUserPassword",
                            data: data,
                            dataType: "json",
                            success: function (data) {
                                if (!$.isEmptyObject(data)) {
                                    if (data.ResultType == "Success") {
                                        $("#Modal_MessageBoxTitle").text("Success");
                                        $("#Modal_MessageBoxBody").text(data.message);
                                        //$("#Modal_Messagebox").modal("show");
                                        $('#default').modal('show');
                                        //$(location).attr('href', "/Home/PasswordUpdated");
                                    } else {
                                        $("#Modal_MessageBoxTitle").text("Message");
                                        $("#Modal_MessageBoxBody").text(data.message);
                                        //$("#Modal_Messagebox").modal("show");
                                        $('#default').modal('show');
                                    }
                                    
                                }
                            },
                            failure: function (errMsg) {

                            }
                    });
                    return false;
                    //}

                });

            });
        </script>
  



</body>
<!-- END: Body-->
</html>

















