@using SG2.CORE.MODAL.DTO.Customers;
@using SG2.CORE.COMMON;
@using SG2.CORE.MODAL;
@using SG2.CORE.MODAL.ViewModals.Statistics;
@model SG2.CORE.MODAL.ViewModals.Statistics.StatisticsViewModel

@{
    var BaseURl = ViewBag.BaseUrl;
    ViewBag.Title = "Insights & Statistics";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_LayoutNew.cshtml";
    var custDto = (CustomerDTO)ViewBag.CustomerDTO;
    var socialProfile = (SocialProfileDTO)ViewBag.socialProfile;




    var ProfileStatus = "";
    if (socialProfile.SocialProfile.StatusId == (int)GlobalEnums.PlanSubscription.Active)
    {
        ProfileStatus = "Active (Free)";
    }
    else if (socialProfile.SocialProfile.StatusId == (int)GlobalEnums.PlanSubscription.ActivePlan)
    {
        ProfileStatus = "Active (Plan)";
    }
    else if (socialProfile.SocialProfile.StatusId == (int)GlobalEnums.PlanSubscription.canceled)
    {
        ProfileStatus = "Cancelled";
    }
    else if (socialProfile.SocialProfile.StatusId == (int)GlobalEnums.PlanSubscription.Unsubscribe)
    {
        ProfileStatus = "Unsubscribed";
    }


    var PlanStatus = "";


    var statusclass = "btn-primary";

    if (socialProfile.SocialProfile.StatusId == (int)GlobalEnums.PlanSubscription.Active)
    {
        PlanStatus = "Active (Free)";
    }
    else if (socialProfile.SocialProfile.StatusId == (int)GlobalEnums.PlanSubscription.ActivePlan)
    {
        PlanStatus = "Active (Plan)";
    }
    else if (socialProfile.SocialProfile.StatusId == (int)GlobalEnums.PlanSubscription.canceled)
    {
        PlanStatus = "Cancelled";
    }
    else if (socialProfile.SocialProfile.StatusId == (int)GlobalEnums.PlanSubscription.Unsubscribe)
    {
        PlanStatus = "Unsubscribed";
    }

    switch (socialProfile.SocialProfile.BlockedStatus)
    {
        case null: ProfileStatus = "Valid"; statusclass = "btn-primary"; break;
        case 0: ProfileStatus = "Valid"; statusclass = "btn-primary"; break;
        case 66: ProfileStatus = "Action Blocked"; statusclass = "btn-danger"; break;
        case 67: ProfileStatus = "Hard Blocked"; statusclass = "btn-danger"; break;
        case 68: ProfileStatus = "Password Blocked"; statusclass = "btn-danger"; break;
        default:
            ProfileStatus = "Valid"; statusclass = "btn-primary";
            break;
    }
}

@section styles{


    <style>
        .information-wrap {
            margin-top: 20px;
            margin-bottom: 20px;
        }
               .information-wrap h3 {
    font-size: 20pt;
    color: black;
}
.information-wrap h3 {
    font-size: 25px;
    color: #000000;
    display: inline-block;
    vertical-align: top;
    font-family: arial sans-serif;
    font-weight: 400;
}
    .information-wrap span.right {
    float: none;
}
.information-wrap span.right {
    font-size: 15px;
    color: black;
    font-weight: 400;
    float: right;
}
    .information-wrap span.right i {
    color: black;
    font-style: normal;
}
    .right {
    float: right;
}
    .text-right {
    text-align: right !important;
}
    br {
    clear: both;
}
    </style>

    <meta http-equiv="refresh" content="30">
}

<div class="information-wrap main" style="padding-top: 46px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h3>
                    <img src="/Content/ThemeAssets/Images/InstagramLogoTransparent.png" width="36">
                    @(socialProfile.SocialProfile.SocialUsername ?? "--")
                </h3>

            </div>
            <div class="col-md-6 col-xs-12 text-right">
                <span class="right">Block Status: <i>@ProfileStatus</i></span><br />

                <span class="right">Plan Status: <i>@PlanStatus</i></span>

            </div>
        </div>
    </div>
</div>

<div class="detail-page-contact">
    <div class="container">
        <div class="row mt-1">

            <div class="col-8">
                <a class="btn btn-primary active  mb-1" href="@BaseURl/crm/stats?id=@Url.Encode(CryptoEngine.Encrypt(socialProfile.SocialProfile.CustomerId.ToString()))&SPId=@Url.Encode(CryptoEngine.Encrypt(socialProfile.SocialProfile.SocialProfileId.ToString()))">Stats</a>
                <a class="btn btn-primary mb-1" href="@BaseURl/crm/DetailPage?id=@Url.Encode(CryptoEngine.Encrypt(socialProfile.SocialProfile.CustomerId.ToString()))&SPId=@Url.Encode(CryptoEngine.Encrypt(socialProfile.SocialProfile.SocialProfileId.ToString()))">Contact Details</a>
                <a class="btn btn-primary  mb-1" href="@BaseURl/crm/CustomerOrderHistory?id=@Url.Encode(CryptoEngine.Encrypt(socialProfile.SocialProfile.CustomerId.ToString()))&SPId=@Url.Encode(CryptoEngine.Encrypt(socialProfile.SocialProfile.SocialProfileId.ToString()))">Order History</a>
                <a class="btn btn-primary  mb-1" href="@BaseURl/crm/targettinginformation?id=@Url.Encode(CryptoEngine.Encrypt(socialProfile.SocialProfile.CustomerId.ToString()))&SPId=@Url.Encode(CryptoEngine.Encrypt(socialProfile.SocialProfile.SocialProfileId.ToString()))">Target Form</a>
                <a class="btn btn-primary mb-1" href="@BaseURl/crm/lists?id=@Url.Encode(CryptoEngine.Encrypt(socialProfile.SocialProfile.CustomerId.ToString()))&SPId=@Url.Encode(CryptoEngine.Encrypt(socialProfile.SocialProfile.SocialProfileId.ToString()))">White & Black Lists</a>
            </div>
            <div class="col-4 text-right"><a class=" btn btn-primary right" href="javascript:void(0);" onclick="history.go(-1);"><i class="fa fa-backward"></i> Back</a></div>

        </div>
    </div>
</div>
<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">

        <section class="content-body">
            <!-- Analytics spakline & chartjs  -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-header border-0-bottom">
                            <h4 class="card-title">Insights & Stats Overview</h4>

                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row my-1">
                                    <div class="col-lg-4 col-12">
                                        <div class="text-center">
                                            <h3>@(Math.Round(Model.LastSessionIndex ?? 0, 2))</h3>
                                            <p class="text-muted">Last Session Index </p>
                                            <div id="sp-tristate-bar-total-revenue"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-12">
                                        <div class="text-center">
                                            <h3>@Model.FollowersTotal</h3>
                                            <p class="text-muted">Followers from start <span class="success"><i class="ft-arrow-up"></i> @Model.FollowersInitial</span></p>
                                            <div id="sp-stacked-bar-total-sales"></div>
                                        </div>
                                    </div>
                                    @*<div class="col-lg-4 col-12">
                                            <div class="text-center">
                                                <h3>@Model.FollowingsTotal</h3>
                                                <p class="text-muted">Followings from start <span class="success"><i class="ft-arrow-up"></i> @Model.FollowingsInitial</span></p>
                                                <div id="sp-bar-total-cost"></div>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Analytics spakline & chartjs  -->
            <!--stats-->
            <div><h4 class="mb-2 ml-1 text-uppercase" style="font-size: 1.12rem;">All Time Activity</h4></div>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <h3 class="primary">@Model.FollowingsTotal / @Model.FollowingsInitial</h3>
                                        <span>Followings now / initial </span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-user-follow primary primary font-large-2 float-right"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <h3 class="danger">@Model.UnFollowTotal / @Model.UnFollowInitial</h3>
                                        <span>UnFollow now / initial</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-dislike danger font-large-2 float-right"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <h3 class="success">@Model.LikesTotal / @Model.LikesInitial</h3>
                                        <span>Likes now / initial </span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-heart success font-large-2 float-right"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <h3 class="warning">@Model.StoryViewsTotal / @Model.StoryViewsInitial</h3>
                                        <span>Story Views now / initial</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-camera warning font-large-2 float-right"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div><h4 class="mb-2 ml-1 text-uppercase" style="font-size: 1.12rem;">Today's Session Activity</h4></div>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card">

                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <h3 class="primary">@Model.FollowingToday / @Model.FollowingTodayLimit</h3>
                                        <span>Following</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-user-follow primary font-large-2 float-right"></i>
                                    </div>
                                </div>
                                <div class="progress progress-sm mt-1 mb-0">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: @(Model.FollowingTodayLimit == 0 ? 0 : (Model.FollowingToday / Model.FollowingTodayLimit * 100))%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <h3 class="danger">@Model.UnFollowToday / @Model.UnFollowLimit</h3>
                                        <span>UnFollow</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-dislike danger font-large-2 float-right"></i>
                                    </div>
                                </div>
                                <div class="progress progress-sm mt-1 mb-0">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: @(Model.UnFollowLimit == 0 ? 0 : (Model.UnFollowToday / Model.UnFollowLimit * 100))%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <h3 class="success">@Model.LikeToday / @Model.LikeLimit</h3>
                                        <span>Like </span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-heart success font-large-2 float-right"></i>
                                    </div>
                                </div>
                                <div class="progress progress-sm mt-1 mb-0">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: @(Model.LikeLimit == 0 ? 0 : (Model.LikeToday / Model.LikeLimit * 100))%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <h3 class="warning">@Model.StoryViewToday / @Model.StoryViewLimit</h3>
                                        <span>Story Views</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-camera warning font-large-2 float-right"></i>
                                    </div>
                                </div>
                                <div class="progress progress-sm mt-1 mb-0">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: @(Model.StoryViewLimit == 0 ? 0 : (Model.StoryViewToday / Model.StoryViewLimit * 100))%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-12 mb-2">
                    <div id="filterrange" class="btn-group" role="group" aria-label="Filter Range">
                        <!-- Button group with icons -->
                        <button type="button" class="btn btn-primary active" data-mode="1">15 Days</button>
                        <button type="button" class="btn btn-primary" data-mode="2">1 Months</button>
                        <button type="button" class="btn btn-primary" data-mode="3">3 Months</button>
                        <button type="button" class="btn btn-primary" data-mode="4">6 Months</button>
                        <button type="button" class="btn btn-primary" data-mode="5">12 Months</button>

                    </div>
                </div>
            </div>
            <!--/stats-->
            <!--Followers Line Chart-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Followers</h4>

                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">

                                <div id="line-followers" class="height-400"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Followers Line Chart-->
            <!--Followings Line Chart-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Engagement Actions</h4>

                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">

                                <div id="line-followings" class="height-400"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Followings Line Chart-->
            <!--Engagement Rate Line Chart-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Engagement Rate</h4>

                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">

                                <div id="line-engagement" class="height-400"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Engagement Rate Line Chart-->
            <!-- Bounce Rate & List -->
            <div class="row match-height">

                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-header border-0">
                            <h4 class="card-title">Activity History</h4>

                        </div>
                        <div class="card-content">


                            <div class="table-responsive mt-4">
                                <table class="table table-xl mb-0">
                                    <thead>
                                        <tr>
                                            <th>Action Date/Time</th>
                                            <th>Action</th>
                                            <th>Social User Name</th>
                                            <th>Message</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in (List<SocialProfile_ActionsViewModel>)ViewBag.actions)
                                        {
                                            <tr>
                                                <td scope="row">
                                                    @item.ActionDateTime
                                                </td>


                                                <td>
                                                    @item.Action
                                                </td>
                                                <td>
                                                    @item.TargetProfile
                                                </td>
                                                <td>
                                                    @item.Message
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Bounce Rate & List -->

        </section>
    </div>

</div>

@section Scripts{
    @*<script src="~/Content/app-assets/js/scripts/charts/morris/line.js"></script>*@

    <script type="text/javascript">

        $("document").ready(function () {
            LoadCharts(1);

           

            $('#filterrange button').click(function () {
                $(this).addClass('active').siblings().removeClass('active');

                // TODO: insert whatever you want to do with $(this) here
                var el = $(this);

                var mode = $(this).data("mode"); //Theme2
                LoadCharts(mode);
            });

        });


        function LoadCharts(mode) {
            $.ajax({
                type: "GET",
                url: "/sadmin/crm/Trends?socialProfileId=@socialProfile.SocialProfile.SocialProfileId&mode=" + mode,
                dataType: "json",
                success: function (Response) {


                    if (!$.isEmptyObject(Response)) {
                        if (Response.Data.ResultType == "Success") {


                            LoadFollowersChart(Response.Data);
                            LoadFollowingChart(Response.Data);
                            LoadEngagementChart(Response.Data);
                            //LoadAverageLikesChart(Response.Data);
                            //LoadAverageLikesbyPostingTimeChart(Response.Data);

                        } else {

                        }
                    }
                },
                failure: function (errMsg) {
                    alert(errMsg);

                }
            });
        }

        function LoadFollowersChart(ChartsData) {

            var morrisData = [];

            for (i = 0; i < ChartsData.ResultData.Date.length; i++) {
                morrisData.push({ 'Date': ChartsData.ResultData.Date[i], 'Followers': ChartsData.ResultData.Followers[i] });
            }

            //$.each(ChartsData.ResultData, function (Date, Followers) {
            //    morrisData.push({ 'year': Date, 'Followers': Followers });
            //});

            $("#line-followers").empty();

            Morris.Line({
                element: 'line-followers',
                data: morrisData,
                xkey: 'Date',
                ykeys: ['Followers'],
                labels: ['Followers'],
                resize: true,
                smooth: false,
                pointSize: 3,
                pointStrokeColors: ['#FF4558'],
                gridLineColor: '#e3e3e3',
                behaveLikeLine: true,
                numLines: 6,
                gridtextSize: 14,
                lineWidth: 3,
                hideHover: 'auto',
                lineColors: ['#FF4558'],
                xLabelAngle: 45,
                parseTime: false

            });

        }

        function LoadFollowingChart(ChartsData) {


            var morrisData = [];

            for (i = 0; i < ChartsData.ResultData.Date.length; i++) {
                morrisData.push({ 'year': ChartsData.ResultData.Date[i], 'Following': ChartsData.ResultData.FollowingsData[i], 'Likes': ChartsData.ResultData.AvgLikes[i], 'Unfollow': ChartsData.ResultData.Unfollow[i], 'StoryViews': ChartsData.ResultData.StoryViews[i]   });
            }

            //$.each(ChartsData.ResultData, function (Date, Followers) {
            //    morrisData.push({ 'year': Date, 'Followers': Followers });
            //});

            $("#line-followings").empty();
            Morris.Bar({
                element: 'line-followings',
                data: morrisData,
                xkey: 'year',
                ykeys: ['Following', 'Unfollow', 'Likes', 'StoryViews' ],
                labels: ['Following', 'Unfollow', 'Likes', 'StoryViews'],
                resize: true,
                smooth: false,
                pointSize: 3,
                pointStrokeColors: ['#FF4558'],
                gridLineColor: '#e3e3e3',
                behaveLikeLine: true,
                numLines: 6,
                gridtextSize: 14,
                lineWidth: 3,
                hideHover: 'auto',
                lineColors: ["#2685CB", "#4AD95A", "#EB5A46", "#FDA702"],
                xLabelAngle: 45,
                parseTime: false,
                barColors: ["#2685CB", "#4AD95A", "#EB5A46", "#FDA702"],
            });
        }

        function LoadEngagementChart(ChartsData) {

            var morrisData = [];

            for (i = 0; i < ChartsData.ResultData.Date.length; i++) {
                morrisData.push({ 'year': ChartsData.ResultData.Date[i], 'Engagement': ChartsData.ResultData.Engagement[i] });
            }

            //$.each(ChartsData.ResultData, function (Date, Followers) {
            //    morrisData.push({ 'year': Date, 'Followers': Followers });
            //});

            $("#line-engagement").empty();
            Morris.Line({
                element: 'line-engagement',
                data: morrisData,
                xkey: 'year',
                ykeys: ['Engagement'],
                labels: ['Engagement'],
                resize: true,
                smooth: false,
                pointSize: 3,
                pointStrokeColors: ['#FF4558'],
                gridLineColor: '#e3e3e3',
                behaveLikeLine: true,
                numLines: 6,
                gridtextSize: 14,
                lineWidth: 3,
                hideHover: 'auto',
                lineColors: ['#FF4558'],
                xLabelAngle: 45,
                parseTime: false
            });

        }

        function LoadAverageLikesChart(ChartsData) {

            var morrisData = [];

            for (i = 0; i < ChartsData.ResultData.Date.length; i++) {
                morrisData.push({ 'year': ChartsData.ResultData.Date[i], 'AvgLikes': ChartsData.ResultData.AvgLikes[i] });
            }

            //$.each(ChartsData.ResultData, function (Date, Followers) {
            //    morrisData.push({ 'year': Date, 'Followers': Followers });
            //});

            $("#line-likes").empty();
            Morris.Line({
                element: 'line-likes',
                data: morrisData,
                xkey: 'year',
                ykeys: ['AvgLikes'],
                labels: ['Avg Likes'],
                resize: true,
                smooth: false,
                pointSize: 3,
                pointStrokeColors: ['#FF4558'],
                gridLineColor: '#e3e3e3',
                behaveLikeLine: true,
                numLines: 6,
                gridtextSize: 14,
                lineWidth: 3,
                hideHover: 'auto',
                lineColors: ['#FF4558'],
                xLabelAngle: 45,
                parseTime: false
            });
        }

        function LoadAverageLikesbyPostingTimeChart(ChartsData) {

            var morrisData = [];

            for (i = 0; i < ChartsData.ResultData.Date.length; i++) {
                morrisData.push({ 'year': ChartsData.ResultData.Date[i], 'AvgLikes': ChartsData.ResultData.AvgLikes[i] });
            }

            //$.each(ChartsData.ResultData, function (Date, Followers) {
            //    morrisData.push({ 'year': Date, 'Followers': Followers });
            //});

            $("#line-posting").empty();
            Morris.Line({
                element: 'line-posting',
                data: morrisData,
                xkey: 'year',
                ykeys: ['AvgLikes'],
                labels: ['Avg Likes Posting Time'],
                resize: true,
                smooth: false,
                pointSize: 3,
                pointStrokeColors: ['#FF4558'],
                gridLineColor: '#e3e3e3',
                behaveLikeLine: true,
                numLines: 6,
                gridtextSize: 14,
                lineWidth: 3,
                hideHover: 'auto',
                lineColors: ['#FF4558'],
                xLabelAngle: 45,
                parseTime: false
            });



        }


    </script>
}
