@model SG2.CORE.MODAL.ViewModals.Customers.CustomerLoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_LoggedIn.cshtml";
}


<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Login.</h2>
            </div>
        </div>
    </div>
</div>

<div class="information-form">
    <div class="container">
        <div class="information-form-inner">
            <div class="row">
                <div class="col-xs-12">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Use your account to log in.</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-label" })
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-5">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">&nbsp;</label>
                            <div class="col-md-5">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @style = "height: 18px; width: 18px; margin - top: 0px;" })
                                @Html.LabelFor(m => m.RememberMe, new { @style = "top: -3px; position: relative; " })
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">&nbsp;</label>
                            <div class="col-md-1">
                                <input type="submit" value="Log in" class="btn btn-block btn-default" />
                            </div>
                            <div class="col-md-9 ">
                                <p class="registerUser">@Html.ActionLink("Register as a new user", "SignUp")</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="information-form">
    <div class="container">
        <div class="information-form-inner">
            <div class="row">
                <div class="col-xs-12">

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal_LoginPopup">
                        Login
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal_ForgetPasswordPopup">
                        Forget Password
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal_SignupPopup">
                        Sign Up
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal_InstagramPlannerPopup">
                        Market Planner
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal_MarketGrowPopup">
                        Market Plan 1
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal_WizardPopup">
                        Wizard
                    </button>

                    @Html.Partial("~/Views/Shared/Partial/_PartialForgetPasswordPopup.cshtml")
                    @Html.Partial("~/Views/Shared/Partial/_PartialLoginPopup.cshtml")
                    @Html.Partial("~/Views/Shared/Partial/_PartialSignupPopup.cshtml")
                    @Html.Partial("~/Views/Shared/Partial/_PartialMarketPlannerPopup.cshtml")
                    @Html.Partial("~/Views/Shared/Partial/_PartialMarketGrowPopup.cshtml")
                    @Html.Partial("~/Views/Shared/Partial/_PartialWizardPopup.cshtml")

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style type="text/css">
    .information-form-inner input[type=submit]{
        text-align:left;
        margin:0;
    }
    p.registerUser{
        margin-top:10px
    }
</style>

<style type="text/css">

    .modal-body {
        padding: 0;
        background-color: #f7f7f7;
    }

    .modal-content {
        overflow: hidden;
    }

    .popupLeftSide {
        padding: 100px 20px;
        color: #fff;
        background-color: #2263e2
    }
    span.dialog-close {
        display: block;
        text-align: right
    }

        span.dialog-close a {
            font-size: 26px;
        }
        .popupLeftSide h4 {
            padding: 20px;
            font-weight: 400;
            line-height: 26px;
            text-align: center;
        }

    .popupRigtSide {
        background-color: #f7f7f7;
        padding: 5% 15%;
        text-align: center;
    }

    div.popupLeftSide.signupLeft {
        padding: 120px 30px;
    }
        .popupRigtSide h1 {
            margin: 20px 0px;
            color: #555;
        }

        .popupRigtSide p {
            text-align: left;
            margin: 15px 0;
            font-weight: 500;
            font-size: 1.6rem;
        }

        .popupRigtSide a {
            color: #2263e2
        }

    .padding-zero {
        padding: 0 !important;
    }

    .popupRigtSide input[type=text], input[type=password], input[type=email] {
        font-size: 1.6rem;
        margin-bottom: 15px;
    }

</style>