 @using SG2.CORE.MODAL.DTO.Customers;
@{
    /**/

    var custDto = (CustomerDTO)ViewBag.CustomerDTO;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags-->
    <!-- Title-->
    <title>@ViewBag.Title - Social Planner Pro</title>
    <!-- Core Stylesheet-->

    <link href="~/Content/Theme-Enviro/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Theme-Enviro/css/default/classy-nav.min.css" rel="stylesheet" />
    <link href="~/Content/Theme-Enviro/css/default/lineicons.min.css" rel="stylesheet" />
    <link href="~/Content/Theme-Enviro/css/animate.css" rel="stylesheet" />
    <link href="~/Content/Theme-Enviro/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/Content/Theme-Enviro/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Theme-Enviro/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/Theme-Enviro/css/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Theme-Enviro/css/style.css">
    <link href="~/Content/Theme-Enviro/css/jquery.animatedheadline.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    @*<script>
        

        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', '//connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1185819604852319');
        fbq('init', '2899883190056318');
        fbq('init', '722023768308766');
        fbq('init', '433629843942100');
        fbq('track', 'PageView'); //tracks a PageView to both initialized pixels
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1185819604852319&ev=PageView&noscript=1" />
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2899883190056318&ev=PageView&noscript=1" />
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=722023768308766&ev=PageView&noscript=1" />
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=433629843942100&ev=PageView&noscript=1" />
    </noscript>*@

    @*<script type="text/javascript">window.$crisp = []; window.CRISP_WEBSITE_ID = "096822b5-332a-4663-a979-1ae6af5f96b8"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();</script>*@

</head>

<body>
    <header class="header-area">
        <div class="main-header" id="sticker">
            <div class="container">
                <div class="classy-nav-container breakpoint-off">
                    <nav class="classy-navbar justify-content-between" id="radixNav">
                        <!-- Logo--><a class="nav-brand mr-5" href="http://connectwizz.co">
                        <img src="~/Content/Theme-SPPro/img/core-img/SPProWhite.png" alt="" >
                        </a>
                        <!-- Navbar Toggler-->
                        <div class="classy-navbar-toggler"><span class="navbarToggler"><span></span><span></span><span></span><span></span></span></div>
                        <!-- Menu-->
                        <div class="classy-menu">
                            <!-- close btn-->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start-->
                            <div class="classynav">
                                
                                <!-- Login Button-->
                                @*<div class="login-btn-area mt-5 ml-2 mt-lg-0"><a class="btn radix-btn white-btn-2  mr-3" href="/Account/Login">Sign In</a><a class="btn radix-btn white-btn" href="/Account/SignUp">Get Started - Free</a></div>*@
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()

    <footer class="footer-area footer2 section-padding-120-0">
        
    </footer>

    @Html.Partial("~/Views/Shared/Partial/_PartialMessagePopup.cshtml")

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/ThemeAssets/js/owl.carousel.min.js"></script>
    <script src="~/Content/ThemeAssets/js/functions.js"></script>

    <!-- All JavaScript Files-->
    <script src="~/Content/Theme-Enviro/js/jquery.min.js"></script>
    <script src="~/Content/Theme-Enviro/js/popper.min.js"></script>
    <script src="~/Content/Theme-Enviro/js/bootstrap.min.js"></script>
    <script src="~/Content/Theme-Enviro/js/default/classy-nav.min.js"></script>
    <script src="~/Content/Theme-Enviro/js/default/sticky.js"></script>
    <script src="~/Content/Theme-Enviro/js/waypoints.min.js"></script>
    <script src="~/Content/Theme-Enviro/js/jquery.easing.min.js"></script>
    <script src="~/Content/Theme-Enviro/js/default/jquery.scrollup.min.js"></script>
    <script src="~/Content/Theme-Enviro/js/owl.carousel.min.js"></script>
    <script src="~/Content/Theme-Enviro/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/Theme-Enviro/js/default/isotope.pkgd.min.js"></script>
    <script src="~/Content/Theme-Enviro/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Theme-Enviro/js/jquery.animatedheadline.min.js"></script>
    <script src="~/Content/Theme-Enviro/js/jquery.counterup.min.js"></script>
    <script src="~/Content/Theme-Enviro/js/wow.min.js"></script>
    <script src="~/Content/Theme-Enviro/js/jarallax.min.js"></script>
    <script src="~/Content/Theme-Enviro/js/jarallax-video.min.js"></script>
    <script src="~/Content/Theme-Enviro/js/default/cookiealert.js"></script>
    <script src="~/Content/Theme-Enviro/js/default/jquery.passwordstrength.js"></script>
    <script src="~/Content/Theme-Enviro/js/default/mail.js"></script>
    <script src="~/Content/Theme-Enviro/js/default/active.js"></script>
    @Scripts.Render("~/scripts/js")
    


    <script type="text/javascript">

        $(document).ready(function () {

            $('body').css('padding-right', '0');

            $("#Form_Login").validate({
                rules: {
                    EmailAddress: {
                        required: true,
                        email: true
                    },
                    Password: {
                        required: true,
                    }
                },
                messages: {
                    EmailAddress: {
                        required: "Email required"
                    },
                    Password: {
                        required: "Password required"
                    }
                }
            });

            $("#Form_ForgetPassword").validate({
                rules: {
                    EmailAddress: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    EmailAddress: {
                        required: "Email required."
                    }
                }
            });

            $("#Form_Signup").validate({
                rules: {
                    FirstName: {
                        required: true,
                    },
                    SurName: {
                        required: true,
                    },
                    EmailAddress: {
                        required: true,
                        email: true,
                        remote: {
                            type: "GET",
                            url: "/account/IsEmailExist?" + $("#Modal_SignupPopup input#SignEmailAddress").val(),
                        }
                    },
                    Password: {
                        required: true,
                    },
                    Re_Password: {
                        equalTo: "#SignupPassword"
                    }
                },
                messages: {
                    FirstName: {
                        required: "Firstname required."
                    },
                    SurName: {
                        required: "Lastname required."
                    },
                    EmailAddress: {
                        required: "Email required.",
                        remote: "Email already exists"
                    },
                    Password: {
                        required: "Password required."
                    },
                    Re_Password: {
                        equalTo: "Password not matched."
                    }
                }
            });


            $(".btn_formLogin").on("click", function (e) {

                $("#login-error").html("");
                if ($("#Form_Login").valid()) {
                    $("#LoginSpiner").css("display", "inline-block");
                    $("#Form_Login").submit();
                    //var frmData = $("#Form_Login").serialize();
                    //$.ajax({
                    //    type: "POST",
                    //    url: "/account/Login",
                    //    data: frmData,
                    //    dataType: "json",
                    //    success: function (data) {
                    //        $("#LoginSpiner").css("display", "none");
                    //        if (!$.isEmptyObject(data)) {
                    //            if (data.ResultType == "Success") {
                    //                //window.location = "/Profile/Target?socialProfileId=" + data.ResultData;
                    //                window.location = "/User/Home";
                    //            } else {

                    //                $("#login-error").show().html(data.message);
                    //            }
                    //        }
                    //    },
                    //    failure: function (errMsg) {
                    //        $("#LoginSpiner").css("display", "none");
                    //    }
                    //});
                }

            });

            $(".btn_formSignup").on("click", function (e) {
              
                if ($("#Form_Signup").valid()) {
                    $("#SignUpSpinner").css("display", "inline-block");
                    var data = $("#Form_Signup").serialize();
                    $.ajax({
                        type: "POST",
                        url: "/account/SignUp",
                        data: data,
                        dataType: "json",
                        success: function (data) {
                            if (!$.isEmptyObject(data)) {
                                if (data.ResultType == "Success") {
                                    $("#SignUpSpinner").css("display", "none");
                                    $("#Modal_SignupPopup").modal("hide");
                                    $("#Modal_MessageBoxTitle").text("Account Created Succesfully.!");
                                    $("#Modal_MessageBoxBody").text("Congratulation! Your account has successfully created. Please check your inbox for verification.!");
                                    ///fbq('track', 'CompleteRegistration');
                                    $("#Modal_Messagebox").modal("show");
                                } else {
                                    $("#signup-error").show().html(data.message);
                                    $("#SignUpSpinner").css("display", "none");
                                }
                            }
                        },
                        failure: function (errMsg) {
                            $("#SignUpSpinner").css("display", "none");
                        }
                    });
                }
            });
            $(".btn_ForgetPassword").on("click", function (e) {
                var UsersEmail = $("#UsersEmail").val();
                if (UsersEmail.toLowerCase() != "") {
                    $("#ForgotPassSpiner").css("display", "inline-block");
                    $.ajax({
                        type: "POST",
                        url: "/Account/ForgetPassword",
                        dataType: "json",
                        data: $("#Form_ForgetPassword").serialize(),
                        success: function (Data) {
                            $("#ForgotPassSpiner").css("display", "none");
                            if (!$.isEmptyObject(Data)) {
                                if (Data.ResultType == "Success") {
                                    //$("#forgotPassword-error").show().html("Your account has been successfully deleted.");
                                    $("#Modal_MessageBoxTitle").text("Success!");
                                    $("#Modal_MessageBoxBody").text(Data.message);
                                    $("#Modal_Messagebox").modal("show");
                                } else {
                                    $("#forgotPassword-error").show().html(Data.message);
                                }
                            }
                        },
                        failure: function (errMsg) {
                            $("#ForgotPassSpiner").css("display", "none");
                        }
                    });
                }
                else {
                    $("#forgotPassword-error").show().html("Email Required.");
                }
            });
        });

    </script>


    @RenderSection("scripts", required: false)

    <!-- control mobile dropdown margin-->
    <script>
        function myFunction() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

    <script>
        function mymg() {
            var x = document.getElementById("headermg");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }

    </script>

   


</body>
</html>
