@using SG2.CORE.MODAL.DTO.Customers
@model SG2.CORE.MODAL.ViewModals.Customers.ProfilesSearchRequest
@{

    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout_LoggedInStack.cshtml";

    var currentUser = (CustomerDTO)ViewBag.CurrentUser;
    var socailProfiles = (List<CustomerSocialProfileDTO>)ViewBag.SocailProfiles;

    List<SelectListItem> profiles = new List<SelectListItem>();
    foreach (var item in socailProfiles)
    {
        profiles.Add(new SelectListItem { Text = item.ProfileName, Value = item.SocialProfileId.ToString() });
    }

}

@section styles{
    <style>
        .table-hover tbody tr {
            cursor: pointer;
        }

        .table-hover > tbody > tr > td {
            vertical-align: middle;
        }
    </style>

}


<!-- BEGIN: Content-->
<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title mb-0">Click on a profile to set growth engine preferences</h3>

            </div>
            <div class="content-header-right col-md-6 col-12">
                <div class="media width-250 float-right">
                    <div class="media-right text-right">
                        @*<div id="sp-bar-total-sales"></div>*@
                    </div>

                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Extra large table start -->
            <div class="row match-height">
                <div class="col-9">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Social media profiles</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#newProfile"><i class="fa fa-plus"></i> Social Profile</button>


                                </div>

                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard">
                                <form class="form" id="formbasic" method="post">
                                    <div class="form-row">
                                        <div class="col-3"> 
                                        <input type="search" class="form-control mb-1" id="searchString" name="searchString" placeholder="Search profiles" value="@Model.searchString"></div>
                                        @{ 
                                            List<SelectListItem> mlist = new List<SelectListItem>();
                                            mlist.Add(new SelectListItem { Text = "Select Type (All)", Value = "0" });
                                            mlist.Add(new SelectListItem { Text = "Instagram", Value = "30" });
                                            mlist.Add(new SelectListItem { Text = "LinkedIn", Value = "31" });
                                            mlist.Add(new SelectListItem { Text = "Facebook", Value = "32" });
                                        }
                                        <div class="col-3">
                                            @Html.DropDownListFor(n => n.SocialType, new SelectList(mlist, "Value", "Text", 0), new { @class = "custom-select block"})
                                        </div>
                                        <div class="col-3">
                                            @{
                                                List<SelectListItem> blist = new List<SelectListItem>();
                                                blist.Add(new SelectListItem { Text = "Select Block Type (All)", Value = "99" });
                                                blist.Add(new SelectListItem { Text = "Valid", Value = "0" });
                                                blist.Add(new SelectListItem { Text = "Action Block", Value = "66" });
                                                blist.Add(new SelectListItem { Text = "Hard Block", Value = "67" });
                                                blist.Add(new SelectListItem { Text = "Passsword Block", Value = "68" });
                                            }
                                            @Html.DropDownListFor(n => n.Block, new SelectList(blist, "Value", "Text", 0), new { @class = "custom-select block" })
                                        </div>
                                        <div class="col-3">
                                            @{
                                                List<SelectListItem> plist = new List<SelectListItem>();
                                                plist.Add(new SelectListItem { Text = "Plans (All)", Value = "0" });
                                                plist.Add(new SelectListItem { Text = "Free Forever", Value = "1" });
                                                plist.Add(new SelectListItem { Text = "$59 per month", Value = "2" });
                                                plist.Add(new SelectListItem { Text = "$99 per month", Value = "3" });
                                                plist.Add(new SelectListItem { Text = "$39 Afilliate Plan", Value = "4" });
                                            }
                                            @Html.DropDownListFor(n => n.Plan, new SelectList(plist, "Value", "Text", 0), new { @class = "custom-select block" })
                                          
                                        </div>


                                    </div>
                                </form>
                            </div>
                            @if (socailProfiles != null && socailProfiles.Count > 0)
                            {
                                <div class="table-responsive">
                                    <table id="ResponsiveTable" class="table table-xl mb-0 table-hover">

                                        <tbody>
                                            @foreach (var item in socailProfiles)
                                            {
                                                <tr class='clickable-row' data-href='/Profile/Basic?socialProfileId=@item.SocialProfileId' data-hrefstats='/Profile/stats?socialProfileId=@item.SocialProfileId'>

                                                    <td scope="row" class="align-middle">
                                                        @if (item.SocialProfileTypeId == 30)
                                                        {
                                                            <img src="~/Content/ThemeAssets/Images/InstagramLogoTransparent.png" width="49" />
                                                        }
                                                        <a style="display:inline-block" href="/Profile/Basic?socialProfileId=@item.SocialProfileId"><h4>@item.SocialUsername</h4></a>
                                                    </td>
                                                    <td>
                                                        @{
                                                            var statusclass = "";
                                                            switch (item.BlockedStatus)
                                                            {
                                                                case "Valid": statusclass = "badge-primary"; break;
                                                                case "Action Blocked": statusclass = "badge-danger"; break;
                                                                case "Hard Blocked": statusclass = "badge-danger"; break;
                                                                case "Password Blocked": statusclass = "badge-danger"; break;
                                                                default:
                                                                    statusclass = "badge-primary";
                                                                    break;
                                                            }
                                                        }

                                                        <span class="badge @statusclass label-square mr-1 mb-1 display-inline">

                                                            <span>@item.BlockedStatus</span>
                                                        </span>
                                                    </td>

                                                    <td class="align-middle">
                                                        @if (@socailProfiles.FirstOrDefault().SubscriptionName != null)
                                                        {
                                                            <div class="badge badge-success label-square mr-1 mb-1 display-inline">Plan: @item.SubscriptionName</div>
                                                        }
                                                        else
                                                        {
                                                            <div class="badge badge-success label-square mr-1 mb-1 display-inline">Free Plan</div>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {

                                <p class="card-text text-center">
                                    Now profiles found matching your criteria. Please try again with different criteria.
                                </p>

                            }
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-content">
                            <img class="card-img-top img-fluid" src="~/Content/ThemeAssets/Images/afilliate.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Become an Afilliate</h4>
                                <p class="card-text">
                                    Join the Social Growth Affiliates Program and start earning money today.

                                </p>
                                <a href="#" class="btn btn-success" data-toggle="modal" data-target="#Afilliate">Become an Afilliate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Extra large table end -->
        </div>
    </div>
</div>
<div class="modal fade text-left" id="newProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel34" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel34">Create a new Social Profile</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="newprofileForm">
                <input type="hidden" name="CustomerId" value="@currentUser.CustomerId" />
                <div class="modal-body">
                    <label>Instagram Username </label>
                    <div class="form-group position-relative has-icon-left">
                        <input type="text" placeholder="Intagram Username" class="form-control" name="IntagramUserName" required>
                        <div class="form-control-position">
                            <i class="fa fa-envelope font-medium-5 line-height-1 text-muted icon-align"></i>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Create New Profile">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade text-left" id="Afilliate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel34" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel34">Signup as an Afilliate</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="AfilliateForm">
                <input type="hidden" name="CustomerId" value="@currentUser.CustomerId" />
                <div class="modal-body">
                    <label>Instagram Username </label>
                    <div class="form-group position-relative has-icon-left">
                        <input type="text" placeholder="Intagram Username" class="form-control" name="IntagramUserName" required>
                        <div class="form-control-position">
                            <i class="fa fa-envelope font-medium-5 line-height-1 text-muted icon-align"></i>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="Create New Profile">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END: Content-->
@section Scripts{
    <script src="~/Content/app-assets/js/core/libraries/bootstrap.min.js"></script>
    <script src="~/Content/app-assets/vendors/js/extensions/sweetalert.min.js"></script>
    <script src="~/Content/app-assets/js/scripts/extensions/sweet-alerts.js"></script>

    <script>

        $('#ResponsiveTable > tbody > tr').click(function (element) {

            if (element.target.parentElement.nodeName.toLowerCase() === 'tr')
                window.location = element.target.parentElement.getAttribute("data-href");
            else if (element.target.parentElement.parentElement.nodeName.toLowerCase() === 'tr')
                window.location = element.target.parentElement.parentElement.getAttribute("data-hrefstats");
        });


        $("document").ready(function () {

            $('.input').keypress(function (e) {
                if (e.which == 13) {
                    $('#formbasic').submit();
                    return false;    //<---- Add this line
                }
            });

            $('#SocialType,#Block,#Plan').change(function () {
                this.form.submit();
            });

            $("#newprofileForm").on("submit", function () {
                debugger;

                //if ($("#Form_UpdatePassword").valid()) {

                var data = $("#newprofileForm").serializeArray();
                $.ajax({
                    type: "POST",
                    url: "/User/CreateNewProfile",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        if (!$.isEmptyObject(data)) {
                            if (data.Data.ResultType == "Success") {
                                //$("#Modal_MessageBoxTitle").text("Message");
                                //$("#Modal_MessageBoxBody").text(data.message);
                                //$("#Modal_Messagebox").modal("show");
                                //$('#default').modal('show');
                                swal("Success!", "You have successfully created a social profile. Please activate the payment plan to start using it with your mobile device!", "success")
                                    .then((value) => {
                                        window.location.reload(false);
                                    });
                                //$(location).attr('href', "/Home/PasswordUpdated");
                            } else {
                                //$("#Modal_MessageBoxTitle").text("Message");
                                //$("#Modal_MessageBoxBody").text(data.message);
                                //$("#Modal_Messagebox").modal("show");
                                //$('#default').modal('show');
                                swal("Error!", data.Data.message, "error");
                                //$('#ErrorMessage').text(data.message);

                            }

                        }
                    },
                    failure: function (errMsg) {

                    }
                });
                return false;
                //}

            });

        });
    </script>
}




















