@using PagedList.Mvc
@using PagedList;
@using SG2.CORE.MODAL.ViewModals.Backend.Proxy;
@using SG2.CORE.COMMON;
@model SG2.CORE.MODAL.ViewModals.Backend.Proxy.BadProxyIndexViewModel
@{
    ViewBag.Title = "GetBadProxyIPs";
    var BaseURl = ViewBag.BaseUrl;
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout_LoggedIn.cshtml";
}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Bad Proxy IPs</h2>
            </div>
        </div>
    </div>
</div>

<div class="product-listing-sec">
    <div class="container">
        <div class="product-list-inner">
            <div class="row">
                <div class="col-xs-12">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Bad Proxy IP</th>
                                <th scope="col">Profiles </th>
                                @*<th scope="col">JV Box</th>
                                <th scope="col">Regions</th>
                                <th scope="col">IPs Status</th>
                                <th scope="col">Supplier</th>
                                <th scope="col">Action</th>*@

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.BadProxyListing)
                            {
                                var ProxyIpId = Url.Encode(CryptoEngine.Encrypt(item.ProxyId.ToString()));
                                <tr>
                                    @*<td data-label="ID">
                                        <a href="@BaseURl/proxyips/UpdateProxyIPs?id=@ProxyIpId">@item.ProxyIPNumber</a>
                                    </td>
                                    <td data-label="Free Slots">@item.NoOfFreeSlots</td>*@
                                    @*<td data-label="JV Box">@(string.IsNullOrEmpty(item.JVBox) ? "--" : item.JVBox)</td>*@
                                    <td data-label="Regions">@(string.IsNullOrEmpty(item.ProxyIP) ? "--" : item.ProxyIP)</td>
                                    <td data-label="Status">@(string.IsNullOrEmpty(item.Profiles) ? "--" : item.Profiles)</td>
                                    @*<td data-label="Supplier">@(string.IsNullOrEmpty(item.VPSSName) ? "--" : item.VPSSName)</td>
                                    <td>
                                        <a href="@BaseURl/proxyips/UpdateProxyIPs?id=@ProxyIpId"><i class="fa fa-edit"></i></a>
                                        <a href="#" class="btn_ShowDeleteConfrimModal" data-value="@ProxyIpId"><i class="fa fa-trash"></i></a>
                                    </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="pagination-wrap">
            Page @(Model.TotalRecord < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.TotalRecord   @Html.PagedListPager((IPagedList<BadProxyViewModel>)Model.BadProxyListing, page => Url.Action("Index"))
        </div>
    </div>
</div>

