@using SG2.CORE.MODAL.DTO.Customers;
@model SG2.CORE.MODAL.DTO.Customers.SocialProfileDTO
@{

    ViewBag.Title = "Basic Profile";
    Layout = "~/Views/Shared/_Layout_LoggedInStack.cshtml";
    var custDto = (CustomerDTO)ViewBag.CustomerDTO;

    var currentUser = (CustomerDTO)ViewBag.CurrentUser;

}


@section styles{

    <link href="~/Content/app-assets/vendors/css/forms/tags/tagging.css" rel="stylesheet" />
}




<!-- BEGIN: Content-->
<div class="app-content container center-layout mt-2">
	<div class="content-wrapper">
		<div class="content-header row">
			<div class="content-header-left col-md-6 col-12 mb-2">

				<div class="media">
					<a class="media-left align-self-center" href="#">
						<img src="~/Content/ThemeAssets/Images/InstagramLogoTransparent.png" alt="Generic placeholder image" style="width: 64px;height: 64px;" />
					</a>
					<div class="media-body mt-2">
						<h3 class="media-heading">@Model.SocialProfile.SocialUsername</h3>
					</div>
				</div>
				<div class="col-xs-12" id="hidecol-xs">&nbsp;</div>

				<div class="col-xs-12 col-md-2 col-sm-2 btn_mg_top">
					<a href="#GoToSection1" class="btn btn-primary btn-block">
						<b class="circle"><span>1</span></b>
						Stats
					</a>
				</div>

				<div class="col-xs-12 col-md-2 col-sm-2 btn_mg_top">
					<a onclick="MoveToSection(1)" class="btn btn-primary btn-block" style="background-color:#b0d9e8">
						<b class="circle"><span>2</span></b>
						Contact Details
					</a>
				</div>

				<div class="col-xs-12 col-md-2 col-sm-2 btn_mg_top">
					<a onclick="MoveToSection(2)" class="btn btn-primary btn-block" style="background-color:#b0d9e8">
						<b class="circle"><span>3</span></b>
						Match Filters
					</a>
				</div>
				<div class="col-xs-12 col-md-2 col-sm-2 btn_mg_top">
					<a href="#GoToSection3" class="btn btn-primary btn-block" style="background-color:#b0d9e8">
						<b class="circle"><span>4</span></b>
						While & Black Lists
					</a>
				</div>
				<div class="col-xs-12 col-md-2 col-sm-2 btn_mg_top">
					<a href="#GoToSection3" class="btn btn-primary btn-block" style="background-color:#b0d9e8">
						<b class="circle"><span>5</span></b>
						New Followings
					</a>
				</div>
				<div class="col-xs-12 col-md-2 col-sm-2 btn_mg_top">
					<a href="#GoToSection3" class="btn btn-primary btn-block" style="background-color:#b0d9e8">
						<b class="circle"><span>6</span></b>
						Order History
					</a>
				</div>
			</div>
		</div>

		<div class="content-body">
			<!-- Basic form layout section start -->
			<section id="horizontal-form-layouts">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title" id="horz-layout-basic">White & Black Lists</h4>
								<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
								<div class="heading-elements">
									<ul class="list-inline mb-0">
										<li><a data-action="collapse"><i class="ft-minus"></i></a></li>

								</div>
							</div>
							<section id="pcd">
								@Html.Partial("~/Views/Profile/Partial/_PartialContactDetail.cshtml", Model)
							</section>
							<section id="pmf">
								@Html.Partial("~/Views/Profile/Partial/_PartialMatchFilter.cshtml", Model.SocialProfile_Instagram_TargetingInformation)
							</section>
							<br />

							<section id="GoToSection1" style="clear:both">
								<div class="information-form">
									<div class="container">
										<div class="information-form-inner">
											<div class="section_targetgrow">
												<div class="row" id="section1MG">
													<div class="col-xs-12">
														@Html.ValidationSummary()
														@using (Html.BeginForm("ModifyTargetPreferences", "TargetPreferences", FormMethod.Post, new { @class = "", @id = "Form_TargetPreferences" }))
														{
															@*<div class="form-group">
																	@Html.LabelFor(m => m.ProfileName, new { @class = "" })
																	@Html.TextBoxFor(m => m.ProfileName, new { @class = "form-control" })
																	@Html.ValidationMessageFor(model => model.ProfileName, "", new { @class = "text-danger" })
																</div>
																<br />*@

															<input type="text" class="form-control" id="firstName1">

															@*</div>
																</div>*@
															<div class="col-md-6">
																<div class="form-group">
																	<label class="label-control" for="projectinput2">White List (Extracted from live account )</label>

																	<input type="text" class="form-control" id="firstName1">

																</div>
															</div>
															@* </div>*@
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="label-control" for="projectinput1">White List (User typed in )</label>

																		<input type="text" class="form-control" id="firstName1">

																	</div>
																</div>
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="label-control" for="projectinput2">White List (Extracted from live account )</label>

																		<input type="text" class="form-control" id="firstName1">

																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="label-control" for="projectinput1">White List (User typed in )</label>

																		<input type="text" class="form-control" id="firstName1">

																	</div>
																</div>
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="label-control" for="projectinput2">White List (Extracted from live account )</label>

																		<input type="text" class="form-control" id="firstName1">

																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="label-control" for="projectinput1">White List (User typed in )</label>

																		<input type="text" class="form-control" id="firstName1">

																	</div>
																</div>
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="label-control" for="projectinput2">White List (Extracted from live account )</label>

																		<input type="text" class="form-control" id="firstName1">

																	</div>
																</div>
															</div>

															@*</div>

																</div>*@
															<div class="form-actions">
																<button type="button" class="btn btn-warning mr-1">
																	<i class="ft-x"></i> Cancel
																</button>
																<button type="submit" class="btn btn-primary">
																	<i class="fa fa-check-square-o"></i> Save
																</button>
															</div>
														}
														@*</form>*@
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- // Basic form layout section end -->
								</div>
							</section>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
		<!-- END: Content-->



		@section Scripts{

			<script src="~/Content/app-assets/vendors/js/forms/tags/tagging.min.js"></script>
			<script>
				$(document).ready(function () {
					/*******************************
					*       Simple Options         *
					*******************************/



					// Edit / Delete tag on delete
					$(".edit-on-delete").tagging({
						"edit-on-delete": false,
					});

				});
				function MoveToSection(section) {
					if (section == 1) {
						$("#pcd").show();
						$("#pmf").hide();
					} else if (section == 2) {
						$("#pcd").hide();
						$("#pmf").show();
					} else {
						$("#pmf").hide();
						$("#pcd").hide();
					}
				}
				MoveToSection(0);
			</script>

		}
