@using SG2.CORE.MODAL.DTO.Customers;
@model SG2.CORE.MODAL.DTO.Customers.SocialProfileDTO
@{

    ViewBag.Title = "Basic Profile";
    Layout = "~/Views/Shared/_Layout_LoggedInStack.cshtml";
    var custDto = (CustomerDTO)ViewBag.CustomerDTO;

    var currentUser = (CustomerDTO)ViewBag.CurrentUser;

}


@section styles{

    <link href="~/Content/app-assets/vendors/css/forms/tags/tagging.css" rel="stylesheet" />
    <link href="~/Content/app-assets/css/pincode.css" rel="stylesheet" />
}




<!-- BEGIN: Content-->
<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">

                <div class="media">
                    <a class="media-left align-self-center" href="#">
                        <img src="~/Content/ThemeAssets/Images/InstagramLogoTransparent.png" alt="Generic placeholder image" style="width: 64px;height: 64px;" />
                    </a>
                    <div class="media-body mt-2">
                        <h3 class="media-heading">@Model.SocialProfile.SocialUsername</h3>

                    </div>
                </div>

            </div>
            <div class="content-header-right col-md-6 col-12">
                <div class="media width-250 float-right">
                    <div class="media-body media-right text-right">
                        <h3 class="m-0">Active</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="horizontal-form-layouts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="horz-layout-basic">Contect Details</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body">

                                    <form class="form">
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i> Status</h4>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label-control" for="projectinput1">App Connection Status</label>

                                                        <input type="text" class="form-control" value="@Model.SocialProfile.DeviceStatus" readonly="readonly" id="appstatus">

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label-control" for="projectinput2">Profile Account Status</label>

                                                        <input type="text" class="form-control" readonly="readonly" id="acctstatus" value="@Model.SocialProfile.SocialUsername">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label-control" for="projectinput1">Device IMEI #</label>

                                                        <input type="text" class="form-control" readonly="readonly" id="firstName1" value="@Model.SocialProfile.DeviceIMEI">

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label-control" for="projectinput2">Device Bin Location</label>
                                                        <input type="text" class="form-control"  id="devicebinlocation" value="@Model.SocialProfile.DeviceBinLocation">
                                                        

                                                    </div>
                                                </div>
                                            </div>

                                            <h4 class="form-section"><i class="ft-user"></i> Social Profile Details</h4>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label-control" for="projectinput1">Your Intagram Username</label>

                                                        <input type="text" class="form-control" id="firstName1" readonly="readonly" value="@Model.SocialProfile.SocialUsername">

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label-control" for="projectinput2">Instagram Password</label>

                                                        <input type="text" class="form-control" id="firstName1" readonly="readonly" value="@Model.SocialProfile.SocialPassword">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label-control" for="projectinput1">Pin Code</label>

                                                        <input type="text" class="form-control" id="pincode" value="@Model.SocialProfile.PinCode">

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label-control" for="projectinput2">Profile Created On</label>

                                                        <input type="text" class="form-control" id="firstName1" readonly="readonly" value="@Model.SocialProfile.CreatedOn">

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                </div>
                                <div class="form-actions">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </section>
        <!-- // Basic form layout section end -->
    </div>
</div>
</div>
<!-- END: Content-->



@section Scripts{
    <script src="~/Content/app-assets/js/scripts/bootstrap-pincode-input.js"></script>
    <script src="~/Content/app-assets/vendors/js/forms/tags/tagging.min.js"></script>
    <script>
        $(document).ready(function () {
            /*******************************
            *       Simple Options         *
            *******************************/
            $(".edit-on-delete").tagging({
                "edit-on-delete": false,
            });


            $('#pincode').pincodeInput({ hidedigits: false, inputs: 8 });

        });
    </script>

}
