@using SG2.CORE.COMMON;
@using SG2.CORE.MODAL;
@using SG2.CORE.MODAL.DTO.PlanInformation;
@using SG2.CORE.MODAL.DTO.Customers;
@using SG2.CORE.MODAL.ViewModals.Customers;
@model SG2.CORE.MODAL.DTO.Customers.SocialProfileDTO
@{

    ViewBag.Title = "Match Filter";
    Layout = "~/Views/Shared/_Layout_LoggedInStackSPPro.cshtml";
    ViewBag.socialProfile = Model.SocialProfile;
    var planName = ViewBag.PlanName = Model.CurrentPaymentPlan == null ? "FREE" : Model.CurrentPaymentPlan.PlanName;
    var currentUser = (CustomerDTO)ViewBag.CurrentUser;
    var Customer = (Customer)ViewBag.Customer;
    var ProfileStatus = "";
    if (Model.SocialProfile.StatusId == (int)GlobalEnums.PlanSubscription.Active)
    {
        ProfileStatus = "Active (Free)";
    }
    else if (Model.SocialProfile.StatusId == (int)GlobalEnums.PlanSubscription.ActivePlan)
    {
        ProfileStatus = "Active (Plan)";
    }
    else if (Model.SocialProfile.StatusId == (int)GlobalEnums.PlanSubscription.canceled)
    {
        ProfileStatus = "Cancelled";
    }
    else if (Model.SocialProfile.StatusId == (int)GlobalEnums.PlanSubscription.Unsubscribe)
    {
        ProfileStatus = "Unsubscribed";
    }

    var plans = (List<PlanInformationDTO>)ViewBag.Plans;
    var paycards = (List<CustomerPaymentCardsViewModel>)ViewBag.paycards;

}


@section styles{

    <link href="~/Content/app-assets/vendors/css/forms/tags/tagging.css" rel="stylesheet" />
    
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/plugins/forms/checkboxes-radios.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/plugins/forms/validation/form-validation.css">
    
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <style type="text/css">
        .weekDays-selector1 {
            margin-top: 10px;
        }

        @@media (max-width: 767.98px) {
            .weekDays-selector1 label{
                display:inline;
            }
        }

        .toggleButtonAlign {
            position: absolute;
            right: 15px;
            top: 0px;
        }

        .checkboxsas label{
            margin-right:10px;
        }
        .checkboxsas input {
            margin-right: 3px;
        }

        .border-bottom-social-profile {
        border-bottom: 1px solid #404E67;
        }
        .l-h12-social-profile {
            line-height: 1.2;
        }

        .FormFieldInput-Icons {
           
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            
        }

        .FormFieldInput-IconsIcon {
            padding-right: 4px;
        }
        .btn-success {
            border-color: #11a578 !important;
            background-color: #16d39a !important;
            color: #FFFFFF;
        }

            .btn-success:hover {
                border-color: #14bc89 !important;
                background-color: #1be7aa !important;
                color: #FFF !important;
            }

            .btn-success:focus, .btn-success:active {
                border-color: #11a578 !important;
                background-color: #0f8e67 !important;
                color: #FFF !important;
            }

        .btn-light {
            background-color: #babfc7;
        }
        .toggle-handle {
            position: relative;
            margin: 0 auto;
            padding-top: 0;
            padding-bottom: 0;
            height: 100%;
            width: 0;
            border-width: 0 1px;
            background-color: #fff;
        }
    </style>
}

@section profileheader{
    @Html.Partial("Partial/_PartialProfileHeaderButton", Model)
}


@*<button type="button" class="btn btn-outline-primary block btn-lg" data-toggle="modal" data-target="#planSubscriptionModal">
        Launch Modal
    </button>*@
<!-- Modal -->
    <div class="heading-wrapper">
        <h1>Target Audience Filters</h1>
        <span class="navbar-text">
            <a class="btn btn-black" href="/user/home">
                Back
            </a>
        </span>
    </div>

<form class="form" id="formtarget" method="post" action="Target" novalidate>
    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.SocialProfileId)
    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.TargetingInformationId)

    <!-- BEGIN: Content-->
    <div class="app-content  center-layout mt-2">
        <div class="content-wrapper">



            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="horizontal-form-layouts">


                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                @*<div class="card-header">
                <div class="card-title col-lg-5 col-sm-12 float-left mt-1 row" id="horz-layout-basic">
                    <h4 >Targeting</h4>
                </div>
                <div class="col-lg-7 col-sm-12 float-right text-right pr-0 hidden">



                            <button type="submit" class="btn btn-primary mb-2">
                                <i class="fa fa-check-square-o"></i> Save Targeting Information
                            </button>




                </div>
            </div>*@
                                <div class="card-content collpase show">
                                    <div class="card-body">


                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i>Engagement Rules</h4>


                                            <div class="form-group">
                                                @*@Html.LabelFor(m => m.SocialProfile_Instagram_TargetingInformation.Preference1, new { @class = "" })*@
                                                @*<span style="display:block"> Please use this format for hashtags: #hashtag,#hashtag,#hashtag</span>*@
                                                <label>Choose hashtags you wish to engage with (select the most relevant hashtags according to the nature of your account):</label>
                                                <div id="hashtagsengage" class="edit-on-delete form-control" data-tags-input-name="wlextracted"> @Model.SocialProfile_Instagram_TargetingInformation.HashTagsToEngage</div>

                                                @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.HashTagsToEngage)

                                            </div>
                                            @*<div class="form-group">

                            <label>Choose the hashtags you DO NOT want to engage (Optional):</label>
                            <div id="hashtagsnotengage" class="edit-on-delete form-control" data-tags-input-name="wlextracted">@Model.SocialProfile_Instagram_TargetingInformation.HashTagsToNotEngage</div>
                            @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.HashTagsToNotEngage)

                        </div>*@
                                            <div class="form-group">
                                                @*<span style="display:block"> Please use this format for hashtags: #hashtag,#hashtag,#hashtag</span>*@
                                                <label>Choose towns, cities and countries that are best suited for your account (cities work best):</label>
                                                <div id="locationengage" class="edit-on-delete form-control" data-tags-input-name="wlextracted">@Model.SocialProfile_Instagram_TargetingInformation.LocationsToEngage</div>
                                                @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.LocationsToEngage)

                                            </div>
                                            <div class="form-group">
                                                @*@Html.LabelFor(m => m.SocialProfile_Instagram_TargetingInformation.Preference1, new { @class = "" })*@
                                                @*<span style="display:block"> Please use this format for hashtags: #hashtag,#hashtag,#hashtag</span>*@
                                                <label>Relevant or targeted accounts (Please add accounts with followers from 10-100k followers so your sources are niche but have enough sources as well)</label>
                                                <div id="DirectCompetitors" class="edit-on-delete form-control" data-tags-input-name="wlextracted">@Model.SocialProfile_Instagram_TargetingInformation.DirectCompetitors</div>
                                                @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.DirectCompetitors)

                                            </div>

                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Do you want to engage with Females, Males or Both?
                                                        </label><br />
                                                        <fieldset class="radio">
                                                            <label class="form-radio" col-md-3>

                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.GenderEngagmentPref, "1")

                                                                <span class="checkmark">Males</span>
                                                            </label><br />
                                                            <label class="form-radio" col-md-3>

                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.GenderEngagmentPref, "2")

                                                                <span class="checkmark">Females</span>
                                                            </label><br />
                                                            <label class="form-radio" col-md-3>

                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.GenderEngagmentPref, "3")

                                                                <span class="checkmark">Both</span>
                                                            </label>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">

                                                    <div class="form-group">
                                                        <label>
                                                            Do you want to engage with Business Accounts?
                                                        </label><br />
                                                        <fieldset class="radio">
                                                            <label class="form-radio" col-md-3>

                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.IncludeBusinessAccounts, "1")

                                                                <span class="checkmark">Business Accounts</span>
                                                            </label><br />
                                                            <label class="form-radio" col-md-3>

                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.IncludeBusinessAccounts, "2")
                                                                <span class="checkmark">Personal Accounts</span>
                                                            </label><br />
                                                            <label class="form-radio" col-md-3>

                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.IncludeBusinessAccounts, "3")
                                                                <span class="checkmark">Both</span>
                                                            </label>
                                                        </fieldset>
                                                    </div>
                                                </div>

                                            </div>



                                        </div>

                                    </div>
                                </div>
                            </div>



                            
                                <div class="card">

                                    <div class="card-content collpase show">
                                        <div class="card-body">

                                            <div class=" form-group row border-bottom-social-profile col-md-12 ml-0 mr-0 row">
                                                <h4 class="col-lg-7 col-md-7 col-sm-12 card-title form-section pl-0 mb-0" style="border-bottom:0px;">Like users latest posts</h4>
                                                <h4 class="col-lg-2 col-md-2 col-sm-12 card-title form-section pl-0 mb-0 text-right" style="border-bottom:0px;">max per day</h4>

                                                <div class="col-lg-1 col-md-1 col-sm-12">
                                                    <input type="text" class="form-control" placeholder="Max val 200" min="10" max="200" name="InputLikeFollowingPosts" onkeypress="return isNumberKey(event)">
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-12 text-right pr-0 mb-1">
                                                    <ul class="list-inline mb-0">
                                                        <li>
                                                            <a onclick="showPaymentPopUp('AfterFollLikeuserPosts');">
                                                                <input id="AfterFollLikeuserPosts" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.AfterFollLikeuserPosts">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollLikeuserPosts)
                                                </div>
                                            </div>

                                            <div class=" form-group row border-bottom-social-profile col-md-12 ml-0 mr-0 row mt-1">
                                                <h4 class="col-lg-7 col-md-7 col-sm-12 card-title form-section pl-0 mb-0" style="border-bottom:0px;">Comment on users latest posts</h4>
                                                <h4 class="col-lg-2 col-md-2 col-sm-12 card-title form-section pl-0 mb-0 text-right" style="border-bottom:0px;">max per day</h4>

                                                <div class="col-lg-1 col-md-1 col-sm-12">
                                                    <input type="text" class="form-control" placeholder="Max val 200" min="10" max="200" name="InputCommFollowingPosts" onkeypress="return isNumberKey(event)">
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-12 text-right pr-0 mb-1">
                                                    <ul class="list-inline mb-0">
                                                        <li>
                                                            <a onclick="showPaymentPopUp('AfterFollCommentUserPosts');">
                                                                '
                                                                <input id="AfterFollCommentUserPosts" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.AfterFollCommentUserPosts">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollCommentUserPosts)
                                                </div>
                                            </div>

                                            <div class=" form-group row border-bottom-social-profile col-md-12 ml-0 mr-0 row mt-1">
                                                <h4 class="col-lg-7 col-md-7 col-sm-12 card-title form-section pl-0 mb-0" style="border-bottom:0px;">View user stories</h4>
                                                <h4 class="col-lg-2 col-md-2 col-sm-12 card-title form-section pl-0 mb-0 text-right" style="border-bottom:0px;">max per day</h4>

                                                <div class="col-lg-1 col-md-1 col-sm-12">
                                                    <input type="text" class="form-control" placeholder="Max val 200" min="10" max="200" name="InputVwStoriesFollowing" onkeypress="return isNumberKey(event)">
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-12 text-right pr-0 mb-1">
                                                    <ul class="list-inline mb-0">
                                                        <li>
                                                            <a onclick="showPaymentPopUp('AfterFollViewUserStory');">
                                                                <input id="AfterFollViewUserStory" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.AfterFollViewUserStory">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollViewUserStory)
                                                </div>
                                            </div>

                                            <div class="form-group row border-bottom-social-profile col-md-12 ml-0 mr-0 row mt-1">
                                                <h4 class="col-lg-7 col-md-7 col-sm-12 card-title form-section pl-0 mb-0" style="border-bottom:0px;">Comment on user stories</h4>
                                                <h4 class="col-lg-2 col-md-2 col-sm-12 card-title form-section pl-0 mb-0 text-right" style="border-bottom:0px;">max per day</h4>

                                                <div class="col-lg-1 col-md-1 col-sm-12">
                                                    <input type="text" class="form-control" placeholder="Max val 200" min="10" max="200" name="InputCommUserStories" onkeypress="return isNumberKey(event)">
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-12 text-right pr-0 mb-1">
                                                    <ul class="list-inline mb-0">
                                                        <li>
                                                            <a onclick="showPaymentPopUp('AfterFollCommentUserStory');">
                                                                <input id="AfterFollCommentUserStory" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.AfterFollCommentUserStory">

                                                            </a>
                                                        </li>
                                                    </ul>
                                                    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollCommentUserStory)
                                                </div>
                                            </div>

                                            <div class="form-group row  border-bottom-social-profile col-md-12 ml-0 mr-0 row mt-1">
                                                <h4 class="col-lg-7 col-md-7 col-sm-12 card-title form-section pl-0 mb-0" style="border-bottom:0px;">Unfollow users </h4>
                                                <h4 class="col-lg-2 col-md-2 col-sm-12 card-title form-section pl-0 mb-0 text-right" style="border-bottom:0px;">max per day</h4>

                                                <div class="col-lg-1 col-md-1 col-sm-12">
                                                    <input type="text" class="form-control" placeholder="Max val 200" min="10" max="200" name="InputUnFoll16DaysEngage" onkeypress="return isNumberKey(event)">
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-12 text-right pr-0 mb-1">
                                                    <ul class="list-inline mb-0">
                                                        <li>
                                                            <a onclick="showPaymentPopUp('UnFollFollowersAfterMinDays');">
                                                                <input id="UnFollFollowersAfterMinDays" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.UnFollFollowersAfterMinDays">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollFollowersAfterMinDays)
                                                </div>
                                            </div>

                                            <div class="form-group row border-bottom-social-profile col-md-12 ml-0 mr-0 row mt-1">
                                                <h4 class="col-lg-7 col-md-7 col-sm-12 card-title form-section pl-0 mb-0" style="border-bottom:0px;">Follow</h4>
                                                <h4 class="col-lg-2 col-md-2 col-sm-12 card-title form-section pl-0 mb-0 text-right" style="border-bottom:0px;">max per day</h4>

                                                <div class="col-lg-1 col-md-1 col-sm-12">
                                                    <input type="text" class="form-control" placeholder="Max val 200" min="10" max="200" name="InputFollAccSearchTags" onkeypress="return isNumberKey(event)">
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-12 text-right pr-0 mb-1">
                                                    <ul class="list-inline mb-0">
                                                        <li>
                                                            <a onclick="showPaymentPopUp('FollowOn');">
                                                                <input id="FollowOn" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.FollowOn">

                                                            </a>
                                                        </li>
                                                    </ul>
                                                    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FollowOn)
                                                </div>
                                            </div>
                                            @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.ExecutionIntervals)

                                            <div class="col-md-12">
                                                <fieldset>





                                                    <div class="weekDays-selector1 l-h12-social-profile hidden">
                                                        @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserProfileImage, new { @class = "weekday" })
                                                        @*@Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserProfileImage)*@
                                                        <label for="@Html.IdFor(m=>m.SocialProfile_Instagram_TargetingInformation.FollUserProfileImage)">Only target users who have a profile image?</label>
                                                    </div>


                                                    <div class="weekDays-selector1 l-h12-social-profile hidden">
                                                        @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserMinPosts, new { @class = "weekday" })

                                                        <label for="@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserMinPosts)">Minimum posts on user account to target</label>
                                                        @Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserMinPostsVal, new { type = "number", style = "width:65px; margin-left:8px;" })

                                                    </div>



                                                    <div class="weekDays-selector1 l-h12-social-profile hidden">
                                                        @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserPostsLastXDays, new { @class = "weekday" })

                                                        <label for="@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserPostsLastXDays)" class="mr-05">Users last post should be between</label>
                                                        @Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserPostsLastXDaysVal, new { type = "number", style = "width:65px; margin-left:8px;" })<label class="ml-05">days</label>
                                                    </div>

                                                    <div class="weekDays-selector1 l-h12-social-profile hidden">

                                                        @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.FollDoNotFollowUsernamewithdigits, new { @class = "weekday" })

                                                        <label for="@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.FollDoNotFollowUsernamewithdigits)" class="mr-05">Account should have no more than</label>@Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollDoNotFollowUsernamewithdigitsVal, new { type = "number", style = "width:65px; margin-left:8px;" })<label class="ml-05"> digits in their username</label>
                                                    </div>

                                                    <div class="weekDays-selector1 l-h12-social-profile hidden">
                                                        @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollMuteUser, new { @class = "weekday" })

                                                        <label for="@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollMuteUser)">Mute user after follow</label>
                                                    </div>
                                                    <div class="weekDays-selector1 l-h12-social-profile hidden">
                                                        @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserLangs, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserLangsList)
                                                        <label for="@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserLangs)">Follow users ONLY in these Languages</label>
                                                        <fieldset class="checkboxsas" style="margin-left: 17px;">
                                                            <label>
                                                                <input name="Languages" type="checkbox" value="EN">
                                                                English
                                                            </label>
                                                            <label>
                                                                <input name="Languages" type="checkbox" value="DA">
                                                                Danish
                                                            </label>

                                                            <label>
                                                                <input name="Languages" type="checkbox" value="FI">Finnish
                                                            </label>
                                                            <label><input name="Languages" type="checkbox" value="FR">French</label>
                                                            <label><input name="Languages" type="checkbox" value="KA">Georgian</label>
                                                            <label><input name="Languages" type="checkbox" value="DE">German</label>
                                                            <label><input name="Languages" type="checkbox" value="EL">Greek</label>
                                                            <label>
                                                                <input name="Languages" type="checkbox" value="IT">Italian
                                                            </label>
                                                            <label><input name="Languages" type="checkbox" value="LA">Latin</label>
                                                            <label>
                                                                <input name="Languages" type="checkbox" value="LV">Latvian
                                                            </label>
                                                            <label>
                                                                <input name="Languages" type="checkbox" value="LT">Lithuanian
                                                            </label>
                                                            <label>
                                                                <input name="Languages" type="checkbox" value="NO">Norwegian
                                                            </label>
                                                            <label><input name="Languages" type="checkbox" value="PL">Polish</label>
                                                            <label><input name="Languages" type="checkbox" value="PT">Portuguese</label>
                                                            <label><input name="Languages" type="checkbox" value="RU">Russian</label>
                                                            <label><input name="Languages" type="checkbox" value="ES">Spanish</label>

                                                            <label><input name="Languages" type="checkbox" value="SV">Swedish</label>
                                                            <label><input name="Languages" type="checkbox" value="TR">Turkish</label>
                                                            <label><input name="Languages" type="checkbox" value="UK">Ukranian</label>
                                                        </fieldset>
                                                    </div>

                                                </fieldset>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                                <div class="card">

                                    
                                    
                                    
                                    <div class="card-content collpase show">
                                        
                                        <div class="card-body">
                                            <div class=" form-group row col-md-12 ml-0 mr-0 row">
                                                <h1 class="col-lg-12 col-md-12 col-sm-12  form-section pl-0 mb-0 text-bold-700" style="border-bottom:0px;">Daily Session Start Time</h1>

                                            </div>
                                            <div class="form-group row col-md-12 ml-0 mr-0 row">
                                                <div class="col-md-5 col-xs-12">
                                                    <div class="row">
                                                        <input type="hidden" name="starttime" value="" />
                                                        <div class="col-5"><input required type="time" class="form-control" name="sc" onchange="schandler(event);" /></div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" form-group row col-md-12 ml-0 mr-0 row">
                                                <h3 class="col-lg-12 col-md-12 col-sm-12  card-title form-section pl-0 mb-0 " style="border-bottom:0px;"><b>Days of the week when to engage learning algorithm</b></h3>

                                            </div>
                                            <div class=" form-group row border-bottom-social-profile col-md-12 ml-0 mr-0 row">
                                                <h4 class="col-lg-8 col-md-8 col-sm-12 card-title form-section pl-0 mb-0" style="border-bottom:0px;">Monday</h4>
                                                <div class="col-lg-4 col-md-4 col-sm-12 text-right pr-0 mb-1">
                                                    <ul class="list-inline mb-0">
                                                        <li>
                                                            <a onclick="showPaymentPopUp('MonOper');">
                                                                <input id="MonOper" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.MonOper">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.MonOper)
                                                </div>
                                            </div>
                                            <div class=" form-group row border-bottom-social-profile col-md-12 ml-0 mr-0 row">
                                                <h4 class="col-lg-8 col-md-8 col-sm-12 card-title form-section pl-0 mb-0" style="border-bottom:0px;">Tueday</h4>
                                                <div class="col-lg-4 col-md-4 col-sm-12 text-right pr-0 mb-1">
                                                    <ul class="list-inline mb-0">
                                                        <li>
                                                            <a onclick="showPaymentPopUp('TueOper');">
                                                                <input id="TueOper" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.TueOper">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.TueOper)
                                                </div>
                                            </div>
                                            <div class=" form-group row border-bottom-social-profile col-md-12 ml-0 mr-0 row">
                                                <h4 class="col-lg-8 col-md-8 col-sm-12 card-title form-section pl-0 mb-0" style="border-bottom:0px;">Wednesday</h4>
                                                <div class="col-lg-4 col-md-4 col-sm-12 text-right pr-0 mb-1">
                                                    <ul class="list-inline mb-0">
                                                        <li>
                                                            <a onclick="showPaymentPopUp('WedOper');">
                                                                <input id="WedOper" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.WedOper">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.WedOper)
                                                </div>
                                            </div>
                                            <div class=" form-group row border-bottom-social-profile col-md-12 ml-0 mr-0 row">
                                                <h4 class="col-lg-8 col-md-8 col-sm-12 card-title form-section pl-0 mb-0" style="border-bottom:0px;">Thursday</h4>
                                                <div class="col-lg-4 col-md-4 col-sm-12 text-right pr-0 mb-1">
                                                    <ul class="list-inline mb-0">
                                                        <li>
                                                            <a onclick="showPaymentPopUp('ThuOper');">
                                                                <input id="ThuOper" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.ThuOper">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.ThuOper)
                                                </div>
                                            </div>
                                            <div class=" form-group row border-bottom-social-profile col-md-12 ml-0 mr-0 row">
                                                <h4 class="col-lg-8 col-md-8 col-sm-12 card-title form-section pl-0 mb-0" style="border-bottom:0px;">Friday</h4>
                                                <div class="col-lg-4 col-md-4 col-sm-12 text-right pr-0 mb-1">
                                                    <ul class="list-inline mb-0">
                                                        <li>
                                                            <a onclick="showPaymentPopUp('FriOper');">
                                                                <input id="FriOper" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.FriOper">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FriOper)
                                                </div>
                                            </div>
                                            <div class=" form-group row border-bottom-social-profile col-md-12 ml-0 mr-0 row">
                                                <h4 class="col-lg-8 col-md-8 col-sm-12 card-title form-section pl-0 mb-0" style="border-bottom:0px;">Saturday</h4>
                                                <div class="col-lg-4 col-md-4 col-sm-12 text-right pr-0 mb-1">
                                                    <ul class="list-inline mb-0">
                                                        <li>
                                                            <a onclick="showPaymentPopUp('SatOper');">
                                                                <input id="SatOper" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.SatOper">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.SatOper)
                                                </div>
                                            </div>
                                            <div class=" form-group row border-bottom-social-profile col-md-12 ml-0 mr-0 row">
                                                <h4 class="col-lg-8 col-md-8 col-sm-12 card-title form-section pl-0 mb-0" style="border-bottom:0px;">Sunday</h4>
                                                <div class="col-lg-4 col-md-4 col-sm-12 text-right pr-0 mb-1">
                                                    <ul class="list-inline mb-0">
                                                        <li>
                                                            <a onclick="showPaymentPopUp('SunOper');">
                                                                <input id="SunOper" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.SunOper">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.SunOper)
                                                </div>
                                            </div>



                                        </div>

                                    </div>
                                </div>


                                <div class="card hidden">
                                    <div class="card-header">
                                        <h4 class="card-title form-section">UN-FOLLOW</h4>

                                        <div class="heading-elements">
                                            <ul class="list-inline mb-0">
                                                <li><input id="unFollowOn" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.UnFollowOn"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-content collpase show">
                                        <div class="card-body">

                                            <div class="col-md-12">
                                                <fieldset>


                                                    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollowOn)



                                                    <div class="col-md-12">
                                                        <div class="weekDays-selector1">
                                                            @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollDoNotUnFollowLikersOfPosts, new { @class = "weekday" })

                                                            <label for="@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollDoNotUnFollowLikersOfPosts)" class="mr-05">Keep following users who liked recent posts </label>@Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollDoNotUnFollowLikersOfPostsCount, new { style = "width:65px;", type = "number" })<label class="ml-05"> posts</label>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="weekDays-selector1">
                                                            @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollDoNotUnFollowCommThatCommented, new { @class = "weekday" })


                                                            <label for="@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollDoNotUnFollowCommThatCommented)" class="mr-05">Keep following users who commented on recent </label> @Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollDoNotUnFollowCommThatCommentedCount, new { style = "width:65px;", type = "number" })<label class="ml-05"> posts</label>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="weekDays-selector1">

                                                            @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollUseWhiteList, new { @class = "weekday" })

                                                            <label for="@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollUseWhiteList)">Enable whitelist</label>
                                                        </div>

                                                    </div>

                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="card hidden">

                                    <div class="card-content collpase show">
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-md-10">

                                                    <div class="row">


                                                        <div class="form-group col-12 mb-2 interval-repeater">
                                                            <div data-repeater-list="group-a">
                                                                <div data-repeater-item>
                                                                    <div class="row hidden">
                                                                        <div class="col-12">
                                                                            <h3>Session <span name="ecounter"></span></h3>
                                                                            <p>Execute Between</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-5 col-xs-12">
                                                                            <div class="row">
                                                                                
                                                                                <input type="hidden" name="endtime" value="" />
                                                                                <div class="col-5"><input type="time" class="form-control" name="ec" onchange="echandler(event);" /></div>
                                                                                <div class="col-2">
                                                                                    <a data-repeater-delete value="" class="btn btn-icon btn-danger mr-1 mb-1">
                                                                                        <i class="fa fa-remove"></i>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                </div>

                                                            </div>
                                                            @*<button type="button" data-repeater-create class="btn btn-primary">
                                            <i class="icon-plus4"></i> Add Interval
                                        </button>*@
                                                        </div>

                                                        
                                                    </div>



                                                </div>

                                            </div>
                                            

                                            
                                        </div>
                                    </div>
                                </div>


                            

                            <div class="card">
                                <div class="text-center mt-lg-5 mb-lg-5">

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>

                                    <div id="userErrorMesg" class="danger text-center userErrorMesg"></div>
                                </div>
                            </div>
                        </div>
                            </div>
                </section>






                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
    <!-- END: Content-->
</form>

<style>
    .setboxshadow {
        border-radius: 0.15rem;
    }
</style>




@section Scripts{
   
    <script src="~/Content/app-assets/js/scripts/bootstrap-pincode-input.js"></script>
    <script src="~/Content/app-assets/vendors/js/forms/tags/tagging.min.js"></script>
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/Content/app-assets/vendors/js/forms/repeater/jquery.repeater.min.js"></script>
    @*<script src="~/Content/app-assets/js/scripts/forms/form-repeater.js"></script>*@

    <script src="~/Content/app-assets/vendors/js/forms/icheck/icheck.min.js"></script>
    <script src="~/Content/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js"></script>
    <script src="~/Content/app-assets/vendors/js/extensions/sweetalert.min.js"></script>
    <script src="~/Content/app-assets/js/scripts/extensions/sweet-alerts.js"></script>

    <!-- END: Page Vendor JS-->
    <script type="text/javascript">
        var somethingChanged = false;
        var socialProfileId = '@Model.SocialProfile.SocialProfileId';
        var selectedPlanName = '';
        var selectedPlanprice = '';
        var BrokerMode = @((Customer.IsBroker.HasValue && Customer.IsBroker.Value == true).ToString().ToLower());
        var customerid = '@Model.SocialProfile.CustomerId';
        var currentPaymentPlan = '@planName';
        $('#formtarget').submit(function (e) {
            
            somethingChanged = false;
            document.getElementById("SocialProfile_Instagram_TargetingInformation_HashTagsToEngage").value = hashtagsengagebox.tagging("getTags").join(', ');

            document.getElementById("SocialProfile_Instagram_TargetingInformation_LocationsToEngage").value = locationengagebox.tagging("getTags").join(', ');

            document.getElementById("SocialProfile_Instagram_TargetingInformation_DirectCompetitors").value = DirectCompetitorsbox.tagging("getTags").join(', ');

            if (BrokerMode) {

                var langlist = '';
                $('input[name="Languages"]:checked').each(function () {
                    //console.log(this.value);
                    langlist = langlist + this.value + ",";
                });

               
                $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserLangsList)').val(langlist);
                
            }

            
                var dailyintv = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.ExecutionIntervals)';
                
                var dailyvlist = JSON.parse(dailyintv)

                if (dailyvlist !== undefined) {
                
                    if (dailyvlist.length > 0) {
                        dailyvlist[0].LikeFollowingPosts = $(this).find("input[name*='InputLikeFollowingPosts']").val();
                        dailyvlist[0].CommFollowingPosts = $(this).find("input[name*='InputCommFollowingPosts']").val();
                        dailyvlist[0].VwStoriesFollowing = $(this).find("input[name*='InputVwStoriesFollowing']").val();
                        dailyvlist[0].CommUserStories = $(this).find("input[name*='InputCommUserStories']").val();
                        dailyvlist[0].UnFoll16DaysEngage = $(this).find("input[name*='InputUnFoll16DaysEngage']").val();
                        dailyvlist[0].FollAccSearchTags = $(this).find("input[name*='InputFollAccSearchTags']").val();
                        dailyvlist[0].starttime = $(this).find("input[name*='sc']").val();
                    }
                    
                    }
                $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.ExecutionIntervals)').val(JSON.stringify(dailyvlist));
            

            var hashtagsAdded = hashtagsengagebox.tagging("getTags");
            var targetAccountsAdded = DirectCompetitorsbox.tagging("getTags");
            if ((hashtagsAdded.length < 10 || targetAccountsAdded.length < 4)) {       //!BrokerMode &&       
                $(".userErrorMesg").html("Add atleast 10 hashtags and 4 targeted accounts to proceed.");
                e.preventDefault();
                return false;
            }
         
            
        });
       
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }

        //time field change event handler
        function schandler(e) {
            console.log(getSiblings(e.target.parentNode));
            //alert(e.target.value);

            (getSiblings(e.target.parentNode)[1]).value = e.target.value;
        }

        function echandler(e) {
            console.log(getSiblings(e.target.parentNode)[3].name);
            //alert(e.target.value);
            (getSiblings(e.target.parentNode)[3]).value = e.target.value;
        }

        function getSiblings(el, filter) {
            var siblings = [];
            el = el.parentNode.firstChild;
            do { if (!filter || filter(el)) siblings.push(el); } while (el = el.nextSibling);
            return siblings;
        }


        var hashtagsengage, hashtagsengagebox, hashtagsnotengage, hashtagsnotengagebox, locationengage, locationengagebox, DirectCompetitors, DirectCompetitorsbox,repeater;
        $(document).ready(function () {
            /*******************************
            *       Simple Options         *
            *******************************/


            hashtagsengage = $("#hashtagsengage").tagging({
                "edit-on-delete": false,
                "no-spacebar": true,
                "tag-char": '',
                'forbidden-chars': [",", "?"],
                'tags-limit': 20
                
            });
            hashtagsengagebox = hashtagsengage[0];

            locationengage = $("#locationengage").tagging({
                "edit-on-delete": false,
                "no-spacebar": true,
                "tag-char": '',
                'forbidden-chars': [",", "?"],
                "tags-limit": 20
            });
            locationengagebox = locationengage[0];

            DirectCompetitors = $("#DirectCompetitors").tagging({
                "edit-on-delete": false,
                "no-spacebar": true,
                "tag-char": '',
                'forbidden-chars': [",", "?"],
                "tags-limit": 20
            });
            DirectCompetitorsbox = DirectCompetitors[0];


             var AfterFollLikeuserPosts = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.AfterFollLikeuserPosts.HasValue && Model.SocialProfile_Instagram_TargetingInformation.AfterFollLikeuserPosts.Value ? "on" : "off")'
                $('#AfterFollLikeuserPosts').bootstrapToggle(AfterFollLikeuserPosts);
                $('#AfterFollLikeuserPosts').change(function () {
                    $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollLikeuserPosts)').val($(this).prop('checked'));
            });

            var AfterFollCommentUserPosts = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.AfterFollCommentUserPosts.HasValue &&  Model.SocialProfile_Instagram_TargetingInformation.AfterFollCommentUserPosts.Value  ? "on" : "off")'
                $('#AfterFollCommentUserPosts').bootstrapToggle(AfterFollCommentUserPosts);
                $('#AfterFollCommentUserPosts').change(function () {
                    $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollCommentUserPosts)').val($(this).prop('checked'));
            });

            var AfterFollViewUserStory = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.AfterFollViewUserStory.HasValue && Model.SocialProfile_Instagram_TargetingInformation.AfterFollViewUserStory.Value ? "on" : "off")'
                $('#AfterFollViewUserStory').bootstrapToggle(AfterFollViewUserStory);
                $('#AfterFollViewUserStory').change(function () {
                    $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollViewUserStory)').val($(this).prop('checked'));
            });

             var AfterFollCommentUserStory = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.AfterFollCommentUserStory.HasValue && Model.SocialProfile_Instagram_TargetingInformation.AfterFollCommentUserStory.Value == true   ? "on" : "off")'
                $('#AfterFollCommentUserStory').bootstrapToggle(AfterFollCommentUserStory);
                $('#AfterFollCommentUserStory').change(function () {
                    $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollCommentUserStory)').val($(this).prop('checked'));
            });

            var UnFollFollowersAfterMinDays = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.UnFollFollowersAfterMinDays.HasValue && Model.SocialProfile_Instagram_TargetingInformation.UnFollFollowersAfterMinDays.Value  ? "on" : "off")'
                $('#UnFollFollowersAfterMinDays').bootstrapToggle(UnFollFollowersAfterMinDays);
                $('#UnFollFollowersAfterMinDays').change(function () {
                    $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollFollowersAfterMinDays)').val($(this).prop('checked'));
            });

            
          var FollowOn = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.FollowOn.HasValue && Model.SocialProfile_Instagram_TargetingInformation.FollowOn.Value ?  "on" : "off")'
                $('#FollowOn').bootstrapToggle(FollowOn);
                $('#FollowOn').change(function () {
                    $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.FollowOn)').val($(this).prop('checked'));
            });


            var MonOper = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.MonOper.HasValue && Model.SocialProfile_Instagram_TargetingInformation.MonOper.Value ?  "on" : "off")'
            $('#MonOper').bootstrapToggle(MonOper);
            $('#MonOper').change(function () {
                    $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.MonOper)').val($(this).prop('checked'));
            });

            var TueOper = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.TueOper.HasValue && Model.SocialProfile_Instagram_TargetingInformation.TueOper.Value ?  "on" : "off")'
            $('#TueOper').bootstrapToggle(TueOper);
            $('#TueOper').change(function () {
                    $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.TueOper)').val($(this).prop('checked'));
            });

            var WedOper = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.WedOper.HasValue && Model.SocialProfile_Instagram_TargetingInformation.WedOper.Value ?  "on" : "off")'
            $('#WedOper').bootstrapToggle(WedOper);
            $('#WedOper').change(function () {
                    $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.WedOper)').val($(this).prop('checked'));
            });

            var ThuOper = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.ThuOper.HasValue && Model.SocialProfile_Instagram_TargetingInformation.ThuOper.Value ?  "on" : "off")'
            $('#ThuOper').bootstrapToggle(ThuOper);
            $('#ThuOper').change(function () {
                    $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.ThuOper)').val($(this).prop('checked'));
            });

            var FriOper = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.FriOper.HasValue && Model.SocialProfile_Instagram_TargetingInformation.FriOper.Value ?  "on" : "off")'
            $('#FriOper').bootstrapToggle(FriOper);
            $('#FriOper').change(function () {
                    $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.FriOper)').val($(this).prop('checked'));
            });

            var SatOper = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.SatOper.HasValue && Model.SocialProfile_Instagram_TargetingInformation.SatOper.Value ?  "on" : "off")'
            $('#SatOper').bootstrapToggle(SatOper);
            $('#SatOper').change(function () {
                    $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.SatOper)').val($(this).prop('checked'));
            });

            var SunOper = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.SunOper.HasValue && Model.SocialProfile_Instagram_TargetingInformation.SunOper.Value ?  "on" : "off")'
            $('#SunOper').bootstrapToggle(SunOper);
            $('#SunOper').change(function () {
                    $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.SunOper)').val($(this).prop('checked'));
            });
            
            
            if (BrokerMode) {

                var arrayValues =  $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserLangsList)').val().split(',');
                $.each(arrayValues, function (i, val) {
                    $("input[value='" + val + "']").prop('checked', true);
                });

                
                var unFollowOn = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.UnFollowOn.HasValue && Model.SocialProfile_Instagram_TargetingInformation.UnFollowOn.Value && planName != "FREE" ? "on" : "off")'
                $('#unFollowOn').bootstrapToggle(unFollowOn);
                $('#unFollowOn').change(function () {
                    $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollowOn)').val($(this).prop('checked'));
                });


               
            }


            var dailyintv = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.ExecutionIntervals)';
            if (dailyintv != '') {
                var dailyvlist = JSON.parse(dailyintv);
            }
            

            if (dailyvlist !== undefined) {
                if (dailyvlist.length > 0) {
                    $(this).find("input[name*='InputLikeFollowingPosts']").val(dailyvlist[0].LikeFollowingPosts);
                    $(this).find("input[name*='InputCommFollowingPosts']").val(dailyvlist[0].CommFollowingPosts);
                    $(this).find("input[name*='InputVwStoriesFollowing']").val(dailyvlist[0].VwStoriesFollowing);
                    $(this).find("input[name*='InputCommUserStories']").val(dailyvlist[0].CommUserStories);
                    $(this).find("input[name*='InputUnFoll16DaysEngage']").val(dailyvlist[0].UnFoll16DaysEngage);
                    $(this).find("input[name*='InputFollAccSearchTags']").val(dailyvlist[0].FollAccSearchTags);
                    $(this).find("input[name*='sc']").val(dailyvlist[0].starttime);
                   
                }
                
            }

            $('#formtarget input').change(function () {
                somethingChanged = true;
            });

            window.onbeforeunload = function () {
                if (somethingChanged)
                    return 'Targeting information has changed, Are you sure you want to navigate away without saving the changes ?';
            };
            

            if (BrokerMode) {
                
                var IntEleCount = 0;

                $(function () { $("input").not("[type=submit]").jqBootstrapValidation({
                    submitError: function ($form, event, errors) { 
                        //alert('Errors must be fixed before continuing.');

                        swal("Validation Errors", "Correct values must be entered in highlighted fields to continue.", "error");
                    }
                  }); } );

                // Custom Show / Hide Configurations
                repeater = $('.file-repeater, .interval-repeater').repeater({
                    show: function () {
                        $(this).slideDown();

                        
                        $(this).find("input[name*='ec']").val($(this).find("input[name*='endtime']").val());
                        IntEleCount++;

                        $(this).find("span[name*='ecounter']").text(IntEleCount);
                    },
                    hide: function (remove) {
                        if (confirm('Are you sure you want to remove this item?')) {
                            $(this).slideUp(remove);
                            IntEleCount--;
                        }
                    }
                });

               // var intv = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.ExecutionIntervals)';
                
                //var intvlist = JSON.parse(intv)
                //if (intvlist !== undefined) {
                 //   repeater.setList(intvlist);
                //}
            }

     

            @if (ViewBag.success == 1) {
                @:swal("Success!", "You have successfully saved target filtering information.It will be available for mobile app in next execution!", "success");
            }
        });

 




    </script>

    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
}
