@using SG2.CORE.COMMON;
@using SG2.CORE.MODAL;
@using SG2.CORE.MODAL.DTO.PlanInformation;
@using SG2.CORE.MODAL.ViewModals.Customers;
@model SG2.CORE.MODAL.DTO.Customers.SocialProfileDTO
@{

    ViewBag.Title = "Match Filter";
    Layout = "~/Views/Shared/_Layout_LoggedInStack.cshtml";
    ViewBag.socialProfile = Model.SocialProfile;
    var ProfileStatus = "";
    if (Model.SocialProfile.StatusId == (int)GlobalEnums.PlanSubscription.Active)
    {
        ProfileStatus = "Active (Free)";
    }
    else if (Model.SocialProfile.StatusId == (int)GlobalEnums.PlanSubscription.ActivePlan)
    {
        ProfileStatus = "Active (Plan)";
    }
    else if (Model.SocialProfile.StatusId == (int)GlobalEnums.PlanSubscription.canceled)
    {
        ProfileStatus = "Cancelled";
    }
    else if (Model.SocialProfile.StatusId == (int)GlobalEnums.PlanSubscription.Unsubscribe)
    {
        ProfileStatus = "Unsubscribed";
    }

    var plans = (List<PlanInformationDTO>)ViewBag.Plans;
    var paycards = (List<CustomerPaymentCardsViewModel>)ViewBag.paycards;

}


@section styles{

    <link href="~/Content/app-assets/vendors/css/forms/tags/tagging.css" rel="stylesheet" />
    <link href="~/Content/app-assets/css/pincode.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/plugins/forms/checkboxes-radios.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/plugins/forms/validation/form-validation.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <style type="text/css">
        .weekDays-selector1 {
            margin-top:10px;
        }
    </style>
}

@section profileheader{
    @Html.Partial("Partial/_PartialProfileHeader", Model)
}


<form class="form" id="formtarget" method="post" action="Target" novalidate>
    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.SocialProfileId)
    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.TargetingInformationId)

    <!-- BEGIN: Content-->
    <div class="app-content container center-layout mt-2">
        <div class="content-wrapper">



            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="horizontal-form-layouts">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" id="horz-layout-basic">Match Filters</h4>
                                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collpase show">
                                    <div class="card-body">


                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i>Engagement Rules</h4>


                                            <div class="form-group">
                                                @*@Html.LabelFor(m => m.SocialProfile_Instagram_TargetingInformation.Preference1, new { @class = "" })*@
                                                @*<span style="display:block"> Please use this format for hashtags: #hashtag,#hashtag,#hashtag</span>*@
                                                <label>Choose the hashtags you want to engage with:</label>
                                                <div id="hashtagsengage" class="edit-on-delete form-control" data-tags-input-name="wlextracted"> @Model.SocialProfile_Instagram_TargetingInformation.HashTagsToEngage</div>

                                                @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.HashTagsToEngage)

                                            </div>
                                            @*<div class="form-group">

                            <label>Choose the hashtags you DO NOT want to engage (Optional):</label>
                            <div id="hashtagsnotengage" class="edit-on-delete form-control" data-tags-input-name="wlextracted">@Model.SocialProfile_Instagram_TargetingInformation.HashTagsToNotEngage</div>
                            @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.HashTagsToNotEngage)

                        </div>*@
                                            <div class="form-group">
                                                @*<span style="display:block"> Please use this format for hashtags: #hashtag,#hashtag,#hashtag</span>*@
                                                <label>Choose up to 8 locations 10 focus on. Cities work best (optional):</label>
                                                <div id="locationengage" class="edit-on-delete form-control" data-tags-input-name="wlextracted">@Model.SocialProfile_Instagram_TargetingInformation.LocationsToEngage</div>
                                                @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.LocationsToEngage)

                                            </div>
                                            <div class="form-group">
                                                @*@Html.LabelFor(m => m.SocialProfile_Instagram_TargetingInformation.Preference1, new { @class = "" })*@
                                                @*<span style="display:block"> Please use this format for hashtags: #hashtag,#hashtag,#hashtag</span>*@
                                                <label>Direct competitors or similar accounts. Provide at least 10 accounts with a following of at least 2000 followers.*</label>
                                                <div id="DirectCompetitors" class="edit-on-delete form-control" data-tags-input-name="wlextracted">@Model.SocialProfile_Instagram_TargetingInformation.DirectCompetitors</div>
                                                @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.DirectCompetitors)

                                            </div>

                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Do you want to engage with males and females or Both</label><br />
                                                        <fieldset class="radio">
                                                            <label class="form-radio" col-md-3>

                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.GenderEngagmentPref, "1")

                                                                <span class="checkmark">Males</span>
                                                            </label><br />
                                                            <label class="form-radio" col-md-3>

                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.GenderEngagmentPref, "2")

                                                                <span class="checkmark">Females</span>
                                                            </label><br />
                                                            <label class="form-radio" col-md-3>

                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.GenderEngagmentPref, "3")

                                                                <span class="checkmark">Both</span>
                                                            </label>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">

                                                    <div class="form-group">
                                                        <label>Do you want to only follow</label><br />
                                                        <fieldset class="radio">
                                                            <label class="form-radio" col-md-3>

                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.IncludeBusinessAccounts, "1")

                                                                <span class="checkmark">Business Account</span>
                                                            </label><br />
                                                            <label class="form-radio" col-md-3>

                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.IncludeBusinessAccounts, "2")
                                                                <span class="checkmark">Private Account(Private Accounts can't be linked or commented to)</span>
                                                            </label><br />
                                                            <label class="form-radio" col-md-3>

                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.IncludeBusinessAccounts, "3")
                                                                <span class="checkmark">Both</span>
                                                            </label>
                                                        </fieldset>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-12 mt-1 mb-1">
                                    <h4 class="text-uppercase">Select a Plan</h4>
                                </div>
                            </div>
                            <div class="row match-height">
                                @foreach (var plan in plans)
                                {
                                    <div class="col-xl-4 col-md-6 col-sm-12">
                                        <div class="card">
                                            <div class="card-content">
                                                <img class="card-img-top img-fluid" src="~/content/app-assets/images/carousel/05.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h4 class="card-title">@plan.PlanName</h4>
                                                    <p class="card-text">
                                                        @Html.Raw(plan.PlanDescription.Replace("\n", "<br>"))
                                                    </p>@if (Model.SocialProfile.PaymentPlanId == plan.PlanId)
                                                    {
                                                        <a href="#" class="btn btn-outline-primary disabled">Current Plan</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" class="btn btn-outline-pink planSelect">Subscribe</a>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>





                                }
                            </div>

                            <div class="card">
                                <div class="card-content collpase show">
                                    <div class="card-body">
                                        <h4 class="form-section"><i class="ft-user"></i>User limits for daily operations</h4>
                                        <div class="row mb-1">
                                            <div class="col-md-6">
                                                <div class="col-md-7 pd-0 float-left">
                                                    <label class=" mgt-8">Follow new accounts by Search tags</label>
                                                </div>
                                                <div class="col-md-3 pd-0  float-left">
                                                    @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.FollNewPerDayLim, new { htmlAttributes = new { style = "width:65px;", required = "required" } })
                                                </div>
                                                <div class="col-md-2  pd-0  float-left p-0 m-0">
                                                    <label class="mgt-8">per Days</label>
                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-8 pd-0  float-left">
                                                    <label class=" mgt-8">
                                                        Increase daily with
                                                    </label>
                                                </div>
                                                <div class="col-md-4 pd-0  float-left">
                                                    @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.FollDailyIncreaseLim, new { htmlAttributes = new { style = "width:65px;", required = "required" } })
                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-8 pd-0  float-left">
                                                    <label class=" mgt-8">
                                                        untill it reaches
                                                    </label>
                                                </div>
                                                <div class="col-md-4 pd-0  float-left">
                                                    @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.FollMaxPerDayLim, new { htmlAttributes = new { style = "width:65px;", required = "required" } })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <div class="col-md-6">
                                                <div class="col-md-7 pd-0  float-left">
                                                    <label class=" mgt-8">
                                                        Un-Follow after 16 days of engaging
                                                    </label>
                                                </div>
                                                <div class="col-md-3 pd-0  float-left">
                                                    @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollNewPerDayLim, new { htmlAttributes = new { style = "width:65px;", required = "required" } })
                                                </div>
                                                <div class="col-md-2  pd-0  float-left p-0 m-0">
                                                    <label class="mgt-8">per Days</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-8 pd-0  float-left">
                                                    <label class=" mgt-8">
                                                        Increase daily with
                                                    </label>
                                                </div>
                                                <div class="col-md-4 pd-0  float-left" ">
                                                    @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollDailyIncreaseLim, new { htmlAttributes = new { style = "width:65px;", required = "required" } })
                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-8 pd-0  float-left">
                                                    <label class=" mgt-8">
                                                        untill it reaches
                                                    </label>
                                                </div>
                                                <div class="col-md-4 pd-0   float-left">
                                                    @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollMaxPerDayLim, new { htmlAttributes = new { style = "width:65px;", required = "required" } })
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <div class="col-md-6">
                                                <div class="col-md-7 pd-0   float-left">
                                                    <label class=" mgt-8">
                                                        Like on Followings Posts
                                                    </label>
                                                </div>
                                                <div class="col-md-3 pd-0  float-left">
                                                    @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.LikePerDayLim, new { htmlAttributes = new { style = "width:65px;", required = "required" } })
                                                </div>
                                                <div class="col-md-2  pd-0  float-left p-0 m-0">
                                                    <label class="mgt-8">per Days</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-8 pd-0  float-left">
                                                    <label class=" mgt-8">
                                                        Increase daily with
                                                    </label>
                                                </div>
                                                <div class="col-md-4 pd-0  float-left">
                                                    @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.LikeDailyIncreaseLim, new { htmlAttributes = new { style = "width:65px;", required = "required" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-8 pd-0  float-left">
                                                    <label class=" mgt-8">
                                                        untill it reaches
                                                    </label>
                                                </div>
                                                <div class="col-md-4 pd-0  float-left">
                                                    @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.LikeMaxPerDayLim, new { htmlAttributes = new { style = "width:65px;", required = "required" } })
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row mb-1">
                                            <div class="col-md-6">
                                                <div class="col-md-7 pd-0  float-left">
                                                    <label class=" mgt-8">
                                                        View stories by Followings
                                                    </label>
                                                </div>
                                                <div class="col-md-3 pd-0  float-left">
                                                    @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.ViewStoriesPerDayLim, new { htmlAttributes = new { style = "width:65px;", required = "required" } })
                                                </div>
                                                <div class="col-md-2  pd-0  float-left p-0 m-0">
                                                    <label class="mgt-8">per Days</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-8 pd-0  float-left">
                                                    <label class=" mgt-8">
                                                        Increase daily with
                                                    </label>
                                                </div>
                                                <div class="col-md-4 pd-0  float-left">
                                                    @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.ViewStoriesDailyIncreaseLim, new { htmlAttributes = new { style = "width:65px;", required = "required" } })
                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-8 pd-0  float-left">
                                                    <label class=" mgt-8">
                                                        untill it reaches
                                                    </label>
                                                </div>
                                                <div class="col-md-4 pd-0  float-left">
                                                    @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.ViewStoriesMaxPerDayLim, new { htmlAttributes = new { style = "width:65px;", required = "required" } })
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row mb-1">
                                            <div class="col-md-6">
                                                <div class="col-md-7 pd-0  float-left">
                                                    <label class=" mgt-8">
                                                        Comment on Following POSTS
                                                    </label>
                                                </div>
                                                <div class="col-md-3 pd-0  float-left">
                                                    @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.CommentPerDayLim, new { htmlAttributes = new { style = "width:65px;", required = "required" } })
                                                </div>
                                                <div class="col-md-2  pd-0  float-left p-0 m-0">
                                                    <label class="mgt-8">per Days</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-8 pd-0  float-left">
                                                    <label class=" mgt-8">
                                                        Increase daily with
                                                    </label>
                                                </div>
                                                <div class="col-md-4 pd-0  float-left">
                                                    @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.CommentDailyIncreaseLim, new { htmlAttributes = new { style = "width:65px;", required = "required" } })
                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-8 pd-0  float-left">
                                                    <label class=" mgt-8">
                                                        untill it reaches
                                                    </label>
                                                </div>
                                                <div class="col-md-4 pd-0  float-left">
                                                    @Html.EditorFor(m => m.SocialProfile_Instagram_TargetingInformation.CommentMaxPerDayLim, new { htmlAttributes = new { style = "width:65px;", required = "required" } })
                                                </div>

                                            </div>
                                        </div>

                                    

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title form-section">Follow</h4>
                                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><input id="FollowOn" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.FollowOn"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collpase show">
                                    <div class="card-body">
                                        <div class="col-md-12">
                                            <fieldset>


                                                @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FollowOn)

                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserProfileImage.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserProfileImage)
                                                        <label for="weekday-mon">User has profile image</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserMinPosts.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserMinPosts)
                                                        <label for="weekday-mon">User has a minimum number of posts</label>
                                                        @Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserMinPostsVal, new { type = "number", style = "width:65px;" })
                                                        @*@Html.EditorFor(m=>m.FollUserMinPosts)*@
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserPostsLastXDays.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserPostsLastXDays)
                                                        <label for="weekday-mon">User posted within the last X days</label>
                                                        @Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserPostsLastXDaysVal, new { type = "number", style = "width:65px;" })
                                                    </div>

                                                </div>
                                               
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollCheckPostsCapBlackList.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FollCheckPostsCapBlackList)
                                                        <label for="weekday-mon">Check most recent posts caption for Black list words</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">

                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollDoNotFollowUsernamewithdigits.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FollDoNotFollowUsernamewithdigits)
                                                        <label for="weekday-mon">Do not follow accounts with more then</label> @Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollDoNotFollowUsernamewithdigitsVal, new { type = "number", style = "width:65px;" })<label>digits in their usrname</label>
                                                    </div>

                                                </div>

                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        <label for="weekday-mon">Wait between</label> @Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollowWaitBetweenActionsVal2, new { style = "width:65px;", type = "number" })  seconds before each action e.g follow, comments and view
                                                    </div>

                                                </div>
                                                <div class="col-md-12">

                                                    <div class="weekDays-selector1">

                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollowCompetitorsFollowers.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FollowCompetitorsFollowers)
                                                        <label for="weekday-mon">Follow COMPETITORS followers Select </label> @Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollowCompetitorsFollowersVal, new { style = "width:65px;", type = "number" })<label>  random competitors followers daily</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">

                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollowUsersfromHashtagResults.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FollowUsersfromHashtagResults)
                                                        <label for="weekday-mon">Follower Users from HASHTAG search results. Select any random post from top</label> @Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollowUsersfromHashtagResultsVal, new { style = "width:65px;", type = "number" }) <label> posts result</label>
                                                    </div>

                                                </div>
                                                
                                            </fieldset>
                                        </div>

                                        <div class="col-md-12">
                                            <fieldset>
                                                <h4>AFTER FIRST FOLLOW ACTION:</h4>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollLikeuserPosts.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollLikeuserPosts)
                                                        <label for="weekday-mon">Like users latest posts</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">

                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollCommentUserPosts.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollCommentUserPosts)
                                                        <label for="weekday-mon">Comment user's post</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollViewUserStory.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollViewUserStory)
                                                        <label for="weekday-mon">View users latest story</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollMuteUser.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.AfterFollMuteUser)
                                                        <label for="weekday-mon">Mute user after follow</label>
                                                    </div>

                                                </div>

                                            </fieldset>
                                        </div>
                                        <div class="col-md-12">
                                            <fieldset>
                                                <legend>Engagement actions  with users we are following:</legend>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">

                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollEngageDailyfollCountFrmUnFollowList.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FollEngageDailyfollCountFrmUnFollowList)
                                                        <label for="weekday-mon">Engage every day with</label>@Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollEngageDailyfollCountFrmUnFollowListVal, new { style = "width:65px;" })<label> new followings from Un Follower List</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollEngageLikeRecentPost.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FollEngageLikeRecentPost)
                                                        <label for="weekday-mon">Like most recent post</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollEngageEnableLikeCommAfterPostLike.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FollEngageEnableLikeCommAfterPostLike)
                                                        <label for="weekday-mon">Enable like comments after post is like</label>
                                                    </div>

                                                </div>

                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollEngageViewUserStoryAfterLike.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FollEngageViewUserStoryAfterLike)
                                                        <label for="weekday-mon">View user stories after like</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserLangs.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FollUserLangs)
                                                        <label for="weekday-mon">Follow users ONLY in these Languages</label><select><option>English</option></select>
                                                    </div>

                                                </div>

                                            </fieldset>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title form-section">UN-FOLLOW</h4>
                                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><input id="unFollowOn" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.UnFollowOn"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collpase show">
                                    <div class="card-body">

                                        <div class="col-md-12">
                                            <fieldset>


                                                @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollowOn)


                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">

                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollFollowersAfterMinDays.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollFollowersAfterMinDays)
                                                        <label for="weekday-mon">Unfollow followers after a minimum of</label>@Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollFollowersAfterMinDaysVal, new { style = "width:65px;", type = "number" }) <label>days</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollDoNotUnFollowLikersOfPosts.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollDoNotUnFollowLikersOfPosts)
                                                        <label for="weekday-mon">Do not unfollow anyone who liked my last </label>@Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollDoNotUnFollowLikersOfPostsCount, new { style = "width:65px;", type = "number" })<label> posts</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollDoNotUnFollowCommThatCommented.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollDoNotUnFollowCommThatCommented)

                                                        <label for="weekday-mon">Do not unfollow anyone who commented on my last </label> @Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollDoNotUnFollowCommThatCommentedCount, new { style = "width:65px;", type = "number" })<label> posts</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">

                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollUseWhiteList.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollUseWhiteList)
                                                        <label for="weekday-mon">Use whitelist</label> (Go to white Lists Tab to add more usernames)
                                                    </div>

                                                </div>

                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title form-section">STORY VIEWS</h4>
                                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><input id="StoryViewerOn" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.StoryViewerOn"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collpase show">
                                    <div class="card-body">


                                        <div class="col-md-12">
                                            <fieldset>

                                                @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.StoryViewerOn)

                                               



                                            </fieldset>
                                        </div>

                                        <div class="col-md-12">
                                            <fieldset>
                                               

                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">

                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.StorVwAfterReply.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.StorVwAfterReply)
                                                        <label for="weekday-mon">Reply to story after view</label>
                                                    </div>

                                                </div>
                                                


                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title form-section">COMMENTS</h4>
                                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><input id="ContactMembersOn" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.ContactMembersOn"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collpase show">
                                    <div class="card-body">


                                        <div class="col-md-12">
                                            <fieldset>

                                                @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.ContactMembersOn)

                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.CommUsrRecentPosts.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.CommUsrRecentPosts)
                                                        <label for="weekday-mon">Comment users most posts </label>@Html.TextBoxFor(x => x.SocialProfile_Instagram_TargetingInformation.CommUsrRecentPostsVal, new { style = "width:65px;", type = "number" })<label>most recent posts</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        <label for="weekday-mon">Comment only</label><br />

                                                        @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.CommUsrRecentPostsTypes, "1")
                                                        <label for="weekday-mon">Image</label>
                                                        <br />
                                                        @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.CommUsrRecentPostsTypes, "2")

                                                        <label for="weekday-mon">Videos</label>
                                                        <br />
                                                        @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.CommUsrRecentPostsTypes, "3")

                                                        <label for="weekday-mon">Images and Videos</label>
                                                        <br />
                                                        @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.CommUsrRecentPostsTypes, "4")
                                                        <label for="weekday-mon">Albums</label>
                                                        <br />
                                                        @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.CommUsrRecentPostsTypes, "5")
                                                        <label for="weekday-mon">All</label>
                                                        <br />
                                                        

                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.CommUserPostedWithinXDays.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.CommUserPostedWithinXDays)
                                                        <label for="weekday-mon">Posted within the last X days</label>
                                                        @Html.TextBoxFor(x => x.SocialProfile_Instagram_TargetingInformation.CommUserPostedWithinXDaysVal, new { style = "width:65px;", type = "number" })
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">

                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.CommFltrPostsByLike.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.CommFltrPostsByLike)

                                                        <label for="weekday-mon">Only comment on posts that have more than </label> @Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.CommFltrPostsByLikeCount, new { style = "width:65px;", type = "number" }) <label> likes already</label>


                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.CommDelCommAfterXDays.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.CommDelCommAfterXDays)
                                                        <label for="weekday-mon">Delete comment after</label>@Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.CommDelCommAfterXDaysCount, new { style = "width:65px;", type = "number" }) <label>days</label>
                                                    </div>

                                                </div>
                                                <div class="row mt-1 mb-1">
                                                    <div class="col-md-2 float-left">

                                                        <label for="weekday-mon">Comment line 1</label>

                                                    </div>
                                                    <div class="col-md-10 float-left">
                                                        @Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.CommLine1, new { @class = "form-control" })

                                                    </div>

                                                </div>
                                                <div class="row mb-1">
                                                    <div class="col-md-2 float-left">

                                                        <label for="weekday-mon">Comment line 2</label>

                                                    </div>
                                                    <div class="col-md-10 float-left">

                                                        @Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.CommLine2, new { @class = "form-control" })

                                                    </div>

                                                </div>
                                                <div class="row mb-1">
                                                    <div class="col-md-2 float-left">

                                                        <label for="weekday-mon">Comment line 3</label>

                                                    </div>
                                                    <div class="col-md-10 float-left">

                                                        @Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.CommLine3, new { @class = "form-control" })

                                                    </div>

                                                </div>
                                                <div class="row mb-1">
                                                    <div class="col-md-2 float-left">
                                                        <label for="weekday-mon">Comment line 4</label>
                                                    </div>
                                                    <div class="col-md-10 float-left">

                                                        @Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.CommLine4, new { @class = "form-control" })

                                                    </div>

                                                </div>
                                                <div class="row mb-1">
                                                    <div class="col-md-2 float-left">

                                                        <label for="weekday-mon">Comment line 5</label>

                                                    </div>
                                                    <div class="col-md-10 float-left">

                                                        @Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.CommLine5, new { @class = "form-control" })

                                                    </div>

                                                </div>

                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title form-section">LIKE EXCHANGE Participation</h4>
                                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><input id="LikeOn" type="checkbox" checked data-toggle="toggle" data-onstyle="success" value="@Model.SocialProfile_Instagram_TargetingInformation.LikeOn"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collpase show">
                                    <div class="card-body">

                                        <div class="col-md-12">

                                            @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.LikeOn)

                                            <fieldset>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">


                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.LEXLikeUsrMostRecentPosts.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.LEXLikeUsrMostRecentPosts)
                                                        <label for="weekday-mon">Like users most recent posts</label>@Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.LEXLikeUsrMostRecentPostsCount, new { style = "width:65px;", type = "number" }) <label>most recent posts</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.LEXUseBlackList.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.LEXUseBlackList)
                                                        <label for="weekday-mon">Use blacklist (skip specified users)</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">

                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.LEXChkPostCaptionsforBlackList.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.LEXChkPostCaptionsforBlackList)
                                                        <label for="weekday-mon">Check most recent posts caption for Black list words</label>
                                                    </div>

                                                </div>


                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.LEXPostedWithinLastXDays.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.LEXPostedWithinLastXDays)
                                                        <label for="weekday-mon">Posted within the Last X days</label>@Html.TextBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.LEXPostedWithinLastXDaysVal, new { style = "width:65px;", Type = "number" })
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.LEXPostActionEmpty.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.LEXPostActionEmpty)
                                                        <label for="weekday-mon">Post caption is empty</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.LEXDonotLikePvtUsers.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.LEXDonotLikePvtUsers)
                                                        <label for="weekday-mon">Do not l
                                                        ike private users</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="weekDays-selector1">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.LEXSkipBizAccount.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.LEXSkipBizAccount)
                                                        <label for="weekday-mon">Skip business accounts</label>
                                                    </div>

                                                </div>
                                            </fieldset>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title form-section">Run Timer for APP daily operations</h4>
                                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collpase show">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-md-4">
                                                <span>Execute Between</span>
                                                <div class="row">


                                                    <div class="form-group col-12 mb-2 interval-repeater">
                                                        <div data-repeater-list="group-a">
                                                            <div data-repeater-item>
                                                                <div class="row">
                                                                    <input type="hidden" name="starttime" value="" />
                                                                    <input type="hidden" name="endtime" value="" />
                                                                    <div class="col-md-5"><input type="time" class="form-control" name="sc" onchange="schandler(event);" /></div>
                                                                    <div class="col-md-5"><input type="time" class="form-control" name="ec" onchange="echandler(event);" /></div>
                                                                    <div class="col-md-2">
                                                                        <a data-repeater-delete value="" class="btn btn-icon btn-danger mr-1 mb-1">
                                                                            <i class="fa fa-remove"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <button type="button" data-repeater-create class="btn btn-primary">
                                                            <i class="icon-plus4"></i> Add Interval
                                                        </button>
                                                    </div>

                                                    @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.ExecutionIntervals)
                                                </div>

                                                @*<div class="row">
                                                    <div class="col-md-12 mt-2">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.RandomizeIntervalsDaily.Value)
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.RandomizeIntervalsDaily)
                                                        <label for="weekday-mon">Randomly internal daily</label>
                                                    </div>

                                                </div>*@

                                            </div>
                                            <div class="col-md-8">
                                                <div class="col-md-12">
                                                    <span>Days of the week when to operate</span>
                                                </div>
                                                <div class="col-md-12 mt-1">
                                                    <div class="weekDays-selector">
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.MonOper.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.MonOper)

                                                        <label for="weekday-mon">Monday</label>

                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.TueOper.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.TueOper)

                                                        <label for="weekday-tue">Tueday</label>

                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.WedOper.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.WedOper)

                                                        <label for="weekday-wed">Wednesday</label>
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.ThuOper.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.ThuOper)
                                                        <label for="weekday-thu">Thursday</label>
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FriOper.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.FriOper)
                                                        <label for="weekday-fri">Friday</label><br />
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.SatOper.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.SatOper)
                                                        <label for="weekday-sat">Saturday</label>
                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.SunOper.Value, new { @class = "weekday" })
                                                        @Html.HiddenFor(m => m.SocialProfile_Instagram_TargetingInformation.SunOper)
                                                        <label for="weekday-sun">Sunday</label>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="form-actions text-center">

                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-check-square-o"></i> Save
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>






                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
    <!-- END: Content-->
</form>
<style>
    .setboxshadow {
        border-radius: 0.15rem;
    }
</style>


<div id="Modal_ConfirmPaymentPlan" class="modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <!--       <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title color-crimson">Confirm &amp; Pay</h3>
                    </div>
                -->
                <div class="modal-body">
                    <div class="row">
                        <br />
                        <div class="col-xs-12 col-sm-12 col-md-5 hide">
                            <div class="mainMonthly" style="text-align:center">
                                <br />
                                <h3>Monthly Charge</h3>
                                <hr />
                                <h4>$99 Growth Engine</h4>
                                <h4>+</h4>
                                <h4 class="seletedDisplayPlanPrice"></h4>
                                <br /><br />
                                <img src="/Content/ThemeAssets/Images/social-growth-footer-logo.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-xs-12" id="shoppingcardPD">

                            <h4 class="pc_Heading" id="monthlyChargeh4">
                                Get up to 200 followers a day
                                <span class="pc_HeadingPlan">
                                    <br>  <span class="plussymbol paymenyplus text-center" style="font-size:15pt"> + </span><br>

                                    <span class="pc_HeadingPlanLikes color-crimson redcolor"></span> likes per post
                                </span>
                            </h4>

                            <div class="paymentCard">
                                @using (Html.BeginForm("NewCardPayment", "TargetPreferences", FormMethod.Post, new { @class = "form-horizontal", @id = "From_UpdatePlan", role = "form" }))
                                {
                                    <h3 class="monthlyChargeh3">
                                        Monthly Charges
                                        <span class="pull-right color-crimson redcolor">$<span class="ModalplanPrice"></span></span>
                                    </h3>

                                    <p>Autopay on @DateTime.Now.AddMonths(1).ToString("yyyy-MM-dd")</p>
                                    <hr />

                                    if (paycards != null)
                                    {
                                        <div id="div_previousCard">
                                            @foreach (var item in paycards)
                                            {
                                                <p>
                                                    Card ending in <b>@item.Last4</b>
                                                    @*<img class="pull-right" src="~/Content/Images/visa-icon.png" />*@
                                                </p>

                                                <p>Expiry <b>@item.ExpMonth/@item.ExpYear</b></p>
                                            }
                                            <br />
                                            <a href="#" class="btn_displayNewCard">[Edit]</a>
                                            <br />
                                        </div>
                                    }
                                }

                                @using (Html.BeginForm("NewCardPayment", "TargetPreferences", FormMethod.Post, new { @class = "form-horizontal", @id = "From_NewCard", role = "form" }))
                                {

                                    <div id="div_newCard" @(paycards != null ? "style=display:none" : "")>
                                        carrrrrrrrrrrd
                                        <input type="hidden" name="StripePlanId" id="field_newCardPlanId" value="" />
                                        <div class="form-row">
                                            <label for="card-element">
                                                Credit or debit card
                                            </label>
                                            <div id="card-element">
                                            </div>
                                            <div id="card-errors" role="alert"></div>
                                        </div>

                                        <br />

                                        @if (paycards != null)
                                        {
                                            <a href="#" class="btn_displayPrevCard">[Cancel]</a>
                                        }
                                    </div>

                                    <hr />

                                    <button type="button" class="btn btn-block btn-primary btn_ConfirmAndPay" value="Confirm">
                                        Confirm    <span id="ConfirmPaySpinner" hidden><i class="fa fa-spinner fa-spin"></i></span>
                                    </button>
                                    <br />
                                    <br />
                                    <em>You are currently billed in $ US Dollar.</em>
                                }
                            </div>
                            <div class="text-center pd-t2" style="height:20px;">
                                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color:transparent; color:#ccc">Close</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Modal_SuccessActivePlan" class="modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--  <button type="button" class="close" data-dismiss="modal">&times;</button>
                -->
            <div class="div_ModalBody">
                <div class="div_successActivePlan">
                    <h3 class="color-crimson popupHeading">Congratulations, Your subscription has been activated.</h3>
                    <br />
                    <p>
                        <span class="note">Note:</span> <br />
                        Reports will be avaiable after 5 days of activity
                    </p>
                    <br />
                    <button type="button" class="btn btn-default btnnewheight" data-dismiss="modal">Ok, Got it</button>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="https://js.stripe.com/v3/"></script>
    <script src="~/Content/app-assets/js/scripts/bootstrap-pincode-input.js"></script>
    <script src="~/Content/app-assets/vendors/js/forms/tags/tagging.min.js"></script>
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/Content/app-assets/vendors/js/forms/repeater/jquery.repeater.min.js"></script>
    @*<script src="~/Content/app-assets/js/scripts/forms/form-repeater.js"></script>*@

    <script src="~/Content/app-assets/vendors/js/forms/icheck/icheck.min.js"></script>
    <script src="~/Content/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js"></script>
    <script src="~/Content/app-assets/vendors/js/extensions/sweetalert.min.js"></script>
    <script src="~/Content/app-assets/js/scripts/extensions/sweet-alerts.js"></script>

    <!-- END: Page Vendor JS-->
    <script type="text/javascript">
        $('#formtarget').submit(function (e) {
            document.getElementById("SocialProfile_Instagram_TargetingInformation_HashTagsToEngage").value = hashtagsengagebox.tagging("getTags").join(', ');

            //document.getElementById("SocialProfile_Instagram_TargetingInformation_HashTagsToNotEngage").value = hashtagsnotengagebox.tagging("getTags").join(', ');

            document.getElementById("SocialProfile_Instagram_TargetingInformation_LocationsToEngage").value = locationengagebox.tagging("getTags").join(', ');

            document.getElementById("SocialProfile_Instagram_TargetingInformation_DirectCompetitors").value = DirectCompetitorsbox.tagging("getTags").join(', ');
            debugger;
            if (repeater.repeaterVal()['group-a'].length > 0) {
                var intverl = JSON.stringify(repeater.repeaterVal()).replace('\"group-a\":', '');
                intverl = intverl.slice(1).slice(0, -1);
                console.log(intverl);
                $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.ExecutionIntervals)').val(intverl);
            }
            //e.preventDefault();
            //return false;

            $('input[type="checkbox"]').each(function () {

                var id = $(this).attr("id");
                var name = $(this).attr("name");

                if ($(this).is(":checked")) {
                    $("input[name='" + name + "']").val("1");
                } else {
                    $("input[name='" + name + "']").val("0");
                }
            });



        });

        //time field change event handler
        function schandler(e) {
            console.log(getSiblings(e.target.parentNode));
            //alert(e.target.value);

            (getSiblings(e.target.parentNode)[1]).value = e.target.value;
        }

        function echandler(e) {
            console.log(getSiblings(e.target.parentNode)[3].name);
            //alert(e.target.value);
            (getSiblings(e.target.parentNode)[3]).value = e.target.value;
        }

        function getSiblings(el, filter) {
            var siblings = [];
            el = el.parentNode.firstChild;
            do { if (!filter || filter(el)) siblings.push(el); } while (el = el.nextSibling);
            return siblings;
        }

        function startFilter(el) {
            return el.nodeName.toLowerCase() == 'starttime';
        }

        var hashtagsengage, hashtagsengagebox, hashtagsnotengage, hashtagsnotengagebox, locationengage, locationengagebox, DirectCompetitors, DirectCompetitorsbox,repeater;
        $(document).ready(function () {
            /*******************************
            *       Simple Options         *
            *******************************/
            hashtagsengage = $("#hashtagsengage").tagging({
                "edit-on-delete": false,
                "no-spacebar": true,
                "tag-char": ''
            });
            hashtagsengagebox = hashtagsengage[0];

            //hashtagsnotengage = $("#hashtagsnotengage").tagging({
            //    "edit-on-delete": false,
            //    "no-spacebar": true,
            //    "tag-char": ''
            //});
            //hashtagsnotengagebox = hashtagsnotengage[0];

            locationengage = $("#locationengage").tagging({
                "edit-on-delete": false,
                "no-spacebar": true,
                "tag-char": ''
            });
            locationengagebox = locationengage[0];

            DirectCompetitors = $("#DirectCompetitors").tagging({
                "edit-on-delete": false,
                "no-spacebar": true,
                "tag-char": ''
            });
            DirectCompetitorsbox = DirectCompetitors[0];

            var FollowOn = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.FollowOn.Value ? "on" : "off")'
            $('#FollowOn').bootstrapToggle(FollowOn);
            $('#FollowOn').change(function () {
                $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.FollowOn)').val($(this).prop('checked'));
            });


             var unFollowOn = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.UnFollowOn.Value ? "on" : "off")'
            $('#unFollowOn').bootstrapToggle(unFollowOn);
            $('#unFollowOn').change(function () {
                $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.UnFollowOn)').val($(this).prop('checked'));
            });

            var StoryViewerOn = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.StoryViewerOn.Value ? "on" : "off")'
            $('#StoryViewerOn').bootstrapToggle(StoryViewerOn);
            $('#StoryViewerOn').change(function () {
                $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.StoryViewerOn)').val($(this).prop('checked'));
            });

            var ContactMembersOn = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.ContactMembersOn.Value ? "on" : "off")'
            $('#ContactMembersOn').bootstrapToggle(ContactMembersOn);
            $('#ContactMembersOn').change(function () {
                $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.ContactMembersOn)').val($(this).prop('checked'));
            });

            var LikeOn = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.LikeOn.Value ? "on" : "off")'
            $('#LikeOn').bootstrapToggle(LikeOn);
            $('#LikeOn').change(function () {
                $('#@Html.IdFor(m => m.SocialProfile_Instagram_TargetingInformation.LikeOn)').val($(this).prop('checked'));
            });





             @if (ViewBag.success == 1) {
                @:swal("Success!", "You have successfully saved target filtering information.It will be available for mobile app in next execution!", "success");
            }


            $('#pincode').pincodeInput({ hidedigits: false, inputs: 8 });

            // Custom Show / Hide Configurations
            repeater = $('.file-repeater, .interval-repeater').repeater({


                show: function () {
                    $(this).slideDown();

                    $(this).find("input[name*='sc']").val($(this).find("input[name*='starttime']").val());
                    $(this).find("input[name*='ec']").val($(this).find("input[name*='endtime']").val());
                },
                hide: function (remove) {
                    if (confirm('Are you sure you want to remove this item?')) {
                        $(this).slideUp(remove);
                    }
                }
            });

            var intv = '@Html.Raw(Model.SocialProfile_Instagram_TargetingInformation.ExecutionIntervals)';
            var intvlist = JSON.parse(intv)
            if ( intvlist !== undefined)
                repeater.setList(intvlist);



            $(".planSelect").on("click", function () {
                $(".seletedDisplayPlanPrice").text("$" + $(".range-labels li.active").attr("data-price") + " for " + $(".range-labels li.active").text() + " Likes");
                $("span.ModalplanPrice").text($(".range-labels li.active").attr("data-stripe-price"));
                $("#field_newCardPlanId").val($(".range-labels li.active").attr("data-strap-Planid"));
                if ($(".range-labels li.active").index() == 0) {
                    $(".pc_HeadingPlan").addClass("hide");
                } else {
                    $(".pc_HeadingPlan").removeClass("hide");
                }
                $("#Modal_ConfirmPaymentPlan").modal("show");
            })

        });





        // Create a Stripe client.
        var stripe = Stripe('@ViewBag.stripePublishKey');

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', { style: style });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Handle form submission.
        var form = document.getElementById('From_NewCard');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    // Inform the user if there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
            });
        });

        // Submit the form with the token ID.
        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('From_NewCard');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);

            var inpProfileId = document.createElement("input");
            inpProfileId.setAttribute('type', 'hidden');
            inpProfileId.setAttribute('name', 'SocialProfileId');
            inpProfileId.setAttribute('value', $("#SocialProfileId").val());

            form.appendChild(inpProfileId);
            form.appendChild(hiddenInput);

            if ($("#From_NewCard").valid()) {
                var data = $("#From_NewCard").serialize();
                $.ajax({
                    type: "POST",
                    url: "/targetpreferences/newcardpayment",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        if (!$.isEmptyObject(data)) {
                            if (data.ResultType == "Success") {
                                $("#Modal_ConfirmPaymentPlan").modal("hide");
                                $("#Modal_SuccessActivePlan").modal("show");
                                glb_profileJVStatusId = data.ResultData.JVStatusId;
                                $("#btn_updateSocialProfile").removeClass("hide");
                                $(".span_jvStatusName").text(data.ResultData.JVStatusName);
                                glb_activePlan = data.ResultData.ActivePlanId;
                                EnableDisableProfileSection();
                            } else {
                                $("#Modal_ConfirmPaymentPlan").modal("hide");
                                $("#Modal_MessageBoxErrorTitle").text("Oops!");
                                $("#Modal_MessageBoxErrorBody").text(data.message);
                                $("#Modal_MessageBoxFotter").text("Please Try Again");
                                $("#Modal_ErrorMessagebox").modal("show");
                            }
                        }
                        $("#ConfirmPaySpinner").hide();
                    },
                    failure: function (errMsg) {
                        $("#Modal_ConfirmPaymentPlan").modal("hide");
                        $("#Modal_MessageBoxErrorTitle").text("Oops!");
                        $("#Modal_MessageBoxErrorBody").text(data.message);
                        $("#Modal_MessageBoxFotter").text("Please Try Again");
                        $("#Modal_ErrorMessagebox").modal("show");
                        $("#ConfirmPaySpinner").hide();
                    }
                });
            }

            //form.submit();
        }
        /* for shift section after click on button*/
    </script>

    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
}
