@using SG2.CORE.MODAL.DTO.Customers;
@model SG2.CORE.MODAL.DTO.Customers.SocialProfileDTO
@{

    ViewBag.Title = "Match Filter";
    Layout = "~/Views/Shared/_Layout_LoggedInStack.cshtml";
    var custDto = (CustomerDTO)ViewBag.CustomerDTO;

    var currentUser = (CustomerDTO)ViewBag.CurrentUser;

}


@section styles{

    <link href="~/Content/app-assets/vendors/css/forms/tags/tagging.css" rel="stylesheet" />
    <link href="~/Content/app-assets/css/pincode.css" rel="stylesheet" />
}




<!-- BEGIN: Content-->
<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">

                <div class="media">
                    <a class="media-left align-self-center" href="#">
                        <img src="~/Content/ThemeAssets/Images/InstagramLogoTransparent.png" alt="Generic placeholder image" style="width: 64px;height: 64px;" />
                    </a>
                    <div class="media-body mt-2">
                        <h3 class="media-heading">@Model.SocialProfile.SocialUsername</h3>

                    </div>
                </div>

            </div>
            <div class="content-header-right col-md-6 col-12">
                <div class="media width-250 float-right">
                    <div class="media-body media-right text-right">
                        <h3 class="m-0">Active</h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="horizontal-form-layouts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="horz-layout-basic">Match Filters</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body">

                                    <form class="form">
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i> </h4>


                                            <div class="form-group">
                                                @*@Html.LabelFor(m => m.SocialProfile_Instagram_TargetingInformation.Preference1, new { @class = "" })*@
                                                @*<span style="display:block"> Please use this format for hashtags: #hashtag,#hashtag,#hashtag</span>*@
                                                <label>Choose the hashtags you want to engage with:</label>
                                                <div class="edit-on-delete form-control" data-tags-input-name="wlextracted">@Model.SocialProfile_Instagram_TargetingInformation.HashTagsToEngage</div>



                                            </div>
                                            <div class="form-group">
                                                @*@Html.LabelFor(m => m.SocialProfile_Instagram_TargetingInformation.Preference1, new { @class = "" })*@
                                                @*<span style="display:block"> Please use this format for hashtags: #hashtag,#hashtag,#hashtag</span>*@
                                                <label>Choose the hashtags you DO NOT want to engage (Optional):</label>
                                                <div class="edit-on-delete form-control" data-tags-input-name="wlextracted">@Model.SocialProfile_Instagram_TargetingInformation.HashTagsToNotEngage</div>


                                            </div>
                                            <div class="form-group">
                                                @*<span style="display:block"> Please use this format for hashtags: #hashtag,#hashtag,#hashtag</span>*@
                                                <label>Choose up to 8 locations 10 focus on. Cities work best (optional):</label>
                                                <div class="edit-on-delete form-control" data-tags-input-name="wlextracted">@Model.SocialProfile_Instagram_TargetingInformation.LocationsToEngage</div>


                                            </div>
                                            <div class="form-group">
                                                @*@Html.LabelFor(m => m.SocialProfile_Instagram_TargetingInformation.Preference1, new { @class = "" })*@
                                                @*<span style="display:block"> Please use this format for hashtags: #hashtag,#hashtag,#hashtag</span>*@
                                                <label>Direct competitors or similar accounts.Provide at least 10 accounts with a following of at least 2000 followrs.*</label>
                                                <div class="edit-on-delete form-control" data-tags-input-name="wlextracted">@Model.SocialProfile_Instagram_TargetingInformation.DirectCompetitors</div>


                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Do you want to engage with males and females are Both</label>

                                                            <label class="form-radio" col-md-3>
                                                                Males
                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.GenderEngagmentPref, "1")

                                                                <span class="checkmark"></span>
                                                            </label>
                                                            <label class="form-radio" col-md-3>
                                                                Females
                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.GenderEngagmentPref, "2")

                                                                <span class="checkmark"></span>
                                                            </label>
                                                            <label class="form-radio" col-md-3>
                                                                Both
                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.GenderEngagmentPref, "3")

                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label>Do you want to only follow</label>

                                                            <label class="form-radio" col-md-3>
                                                                Business Account
                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.IncludeBusinessAccounts, "1")

                                                                <span class="checkmark"></span>
                                                            </label>
                                                            <label class="form-radio" col-md-3>
                                                                Private Account(Private Accounts can't be linked or commented to)
                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.IncludeBusinessAccounts, "2")
                                                                <span class="checkmark"></span>
                                                            </label>
                                                            <label class="form-radio" col-md-3>
                                                                Both
                                                                @Html.RadioButtonFor(m => m.SocialProfile_Instagram_TargetingInformation.IncludeBusinessAccounts, "3")
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>






                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            
                            <div class="card-content collpase show">
                                <div class="card-body">
                                    <h4 class="form-section"><i class="ft-user"></i>Run Timer for APP daily operations</h4>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="col-md-4">
                                                <span>Execute Between</span>
                                            </div>
                                            <div class="col-md-4"><input type="time" name="usr_time1"></div>
                                            <div class="col-md-4"> <input type="time" name="usr_time1"></div>
                                            <div class="col-md-12">
                                                <div class="col-md-3"> </div>
                                                <div class="col-md-3">
                                                    <button type="button" style=" font-size: 12px;" class="btn btn-danger" id="btn_btnadd">
                                                        Add Internal
                                                        <div id="Loaddefualtfilters" class="hidden btn-danger"><i class="fa fa-spinner fa-spin"></i></div>
                                                    </button>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="weekDays-selector1">

                                                        @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.RandomizeIntervalsDaily.HasValue)
                                                        <label for="weekday-mon">Randomly internal daily</label>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-7">
                                            <div class="col-md-12">
                                                <span>Days of the week when to operate</span>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="weekDays-selector">
                                                    @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.MonOper.HasValue, new { @class = "weekday" })

                                                    <label for="weekday-mon">Monday</label>

                                                    @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.TueOper.HasValue, new { @class = "weekday" })
                                                    <label for="weekday-tue">Tueday</label>

                                                    @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.WedOper.HasValue, new { @class = "weekday" })
                                                    <label for="weekday-wed">Wednesday</label>
                                                    @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.ThuOper.HasValue, new { @class = "weekday" })

                                                    <label for="weekday-thu">Tursday</label>
                                                    @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.FriOper.HasValue, new { @class = "weekday" })

                                                    <label for="weekday-fri">Friday</label>
                                                    @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.SatOper.HasValue, new { @class = "weekday" })

                                                    <label for="weekday-sat">Saturday</label>
                                                    @Html.CheckBoxFor(m => m.SocialProfile_Instagram_TargetingInformation.SunOper.HasValue, new { @class = "weekday" })

                                                    <label for="weekday-sun">Sunday</label>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>





            <div class="form-actions">
                <button type="button" class="btn btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                </button>
            </div>
            <!-- // Basic form layout section end -->
        </div>
    </div>
</div>
<!-- END: Content-->



@section Scripts{
    <script src="~/Content/app-assets/js/scripts/bootstrap-pincode-input.js"></script>
    <script src="~/Content/app-assets/vendors/js/forms/tags/tagging.min.js"></script>
    <script>
        $(document).ready(function () {
            /*******************************
            *       Simple Options         *
            *******************************/
            $(".edit-on-delete").tagging({
                "edit-on-delete": false,
            });


            $('#pincode').pincodeInput({ hidedigits: false, inputs: 8 });

        });
    </script>

}
